// first import customized bulma variables
// then import bulma itself
@import 'bulma_customizations';
@import 'bulma-0.8.0/bulma.sass';

//////////////////////////////////////////////////////////////////////////
// scroll bar
//////////////////////////////////////////////////////////////////////////

* {
    scrollbar-width: thin;
    scrollbar-color: grey #292929;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
    width: 12px;
}
*::-webkit-scrollbar-track {
    background: #292929;
}
*::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 20px;
    border: 4px solid #292929;
}

//////////////////////////////////////////////////////////////////////////
// navigation
//////////////////////////////////////////////////////////////////////////

// active navigation element
@each $page in hello, index, projects, posters {
  body.#{$page} .navbar .navbar-#{$page} {
    color: #fff;
    text-decoration: underline;
  }
  body.#{$page} .navbar-desktop .navbar-#{$page} {
    color: #fff;
    border-bottom: 4px solid #fff;
  }
}

@each $project in cmyk, coke, concacaf, fallout, indycar, inter, liberty, merrell, nba, superbowl {
  body.#{$project} .navbar-projects {
    text-decoration: underline;
  }
}

// align mobile navbar logo to layout margins
.navbar-brand img {
  padding-left: 4px;
}

@include from($tablet) {
  body {
    padding-top: 4.5rem;
  }
}
.navbar-desktop {
  background-color: $body-background-color;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 30;
}
.navbar-desktop-left,
.navbar-desktop-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.navbar-desktop-right {
  right: 0%;
}
.navbar-desktop a {
  color: #939598;
  padding-bottom: 1px;
  &:hover {
    color: #fff;
  }
}
.navbar-desktop a + a {
  margin-left: 1rem;
}
.navbar-desktop img.shrink {
  max-height: 2.5rem;
}

//////////////////////////////////////////////////////////////////////////
// back to top
//////////////////////////////////////////////////////////////////////////
body.hello .back-to-top {
  display: none;
}
.back-to-top {
  color: #999;
  display: block;
  font-size: 0.8rem;
  text-align: center;
  text-transform: uppercase;
  &:hover {
    color: #eee;
  }
}

.copyright {
  color: #999;
  font-size: 0.8rem;
  padding: 1.5rem 0;
  text-align: center;
}

//////////////////////////////////////////////////////////////////////////
// iframe embeds
//////////////////////////////////////////////////////////////////////////
.iframe-container {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
    iframe {
        border: 0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

//////////////////////////////////////////////////////////////////////////
// images
//////////////////////////////////////////////////////////////////////////
.image.has-hover-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background 0.2s;
    z-index: 11;
}

.image .hover-image,
.image .hover-text {
    opacity: 0;
    transition: opacity 0.5s;
    visibility: hidden;
}

.image .hover-text {
    position: absolute;
    left: 10%;
    top: 50%;
    width: 80%;
    transform: translateY(-50%);
    z-index: 12;
}

.image .hover-image {
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: 10;
}

.image:hover {
    .hover-image,
    .hover-text {
      opacity: 1;
      visibility: visible;
    }
    &::before {
        background: rgba(0, 0, 0, 0.85);
    }
}

body.index .image:hover {
  @include until($desktop) {
    .hover-image,
    .hover-text {
      opacity: 0;
      visibility: hidden;
    }
    &::before {
        background: none;
    }
  }
}

// bulma has mixins to apply css depending on browser width, can use to change height
// https://bulma.io/documentation/overview/responsiveness/
.parallax {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}
// does not work on IOS, hide
@include until($desktop) {
  .parallax {
    display: none;
  }
}

//////////////////////////////////////////////////////////////////////////
// other
//////////////////////////////////////////////////////////////////////////
.title {
    font-weight: 900;
}

.subtitle {
    font-weight: 500;
}

.subtitle strong {
    font-weight: 800;
}

.image-hover li {
    margin-bottom: -2px;
}

.is-size-3-mobile {
  line-height: 1.2;
}

@include until($desktop) {
  .section {
    padding: 3rem 1rem;
  }
}

.sectionFull {
    width: 100%;
    padding: 0;
}

// use bulma helpers
// https://bulma.io/documentation/modifiers/typography-helpers/#text-weight
.projecttitle {
    font-weight: 900;
}

.collabtitle {
    font-weight: 900;
}

// use bulma helpers
// https://bulma.io/documentation/modifiers/typography-helpers/#font-family
.collabnames {
    font-family: mrs-eaves;
    font-weight: 900;
    margin-bottom: .5em;
}

.projectdescription {
    line-height: 110%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.quote {
    font-family: mrs-eaves;
    font-size: 2.5em;
}

.contactinfo p {
    margin-bottom: .5em;
}

.contactinfo h2 {
    margin-bottom: -.25em;
}


.biosubhead {
    padding-top: 1.25em;
}
