// first import customized bulma variables
// then import bulma itself
@import 'bulma_customizations';
@import 'bulma-0.8.0/bulma.sass';

//////////////////////////////////////////////////////////////////////////
// scroll bar
//////////////////////////////////////////////////////////////////////////

::-webkit-scrollbar {
  background-color: $body-background-color;
}
::-webkit-scrollbar-thumb {
  background-color: lighten($body-background-color, 30%);
}
::-webkit-scrollbar-track {
  background-color: $body-background-color;
}

//////////////////////////////////////////////////////////////////////////
// navigation
//////////////////////////////////////////////////////////////////////////

// transparent development bar at bottom of page
#navbar-dev {
    background-color: transparent;
    a.navbar-item {
        color: transparent;
        font-weight: bold;
    }
    a.navbar-item:hover {
        color: #000;
        background-color: #fff !important;
    }
}

// active navigation element
@each $page in about, branding, extras, projects, posters {
  body.#{$page} .navbar-#{$page} {
    text-decoration: underline;
  }
}

@each $project in cmyk, coke, concacaf, fallout, indycar, inter, liberty, merrell, nba, superbowl {
  body.#{$project} .navbar-projects {
    text-decoration: underline;
  }
}

//////////////////////////////////////////////////////////////////////////
// iframe embeds
//////////////////////////////////////////////////////////////////////////
.iframe-container {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
    iframe {
        border: 0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

//////////////////////////////////////////////////////////////////////////
// images
//////////////////////////////////////////////////////////////////////////
.image.has-hover-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background 0.2s;
    z-index: 11;
}

.image .hover-image,
.image .hover-text {
    opacity: 0;
    transition: opacity 0.5s;
    visibility: hidden;
}

.image .hover-text {
    position: absolute;
    left: 10%;
    top: 50%;
    width: 80%;
    transform: translateY(-50%);
    z-index: 12;
}

.image .hover-image {
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: 10;
}

.image:hover {
    .hover-image,
    .hover-text {
      opacity: 1;
      visibility: visible;
    }
    &::before {
        background: rgba(0, 0, 0, 0.85);
    }
}

//////////////////////////////////////////////////////////////////////////
// other
//////////////////////////////////////////////////////////////////////////
.title {
    font-weight: 900;
}

.subtitle {
    font-weight: 500;
}

.subtitle strong {
    font-weight: 800;
}

.posterinfo strong {
    font-size: 1em;
}

.image-hover li {
    margin-bottom: -2px;
}

.sectionFull {
    width: 100%;
    padding: 0;
}

// use bulma helpers
// https://bulma.io/documentation/modifiers/typography-helpers/#text-weight
.projecttitle {
    font-weight: 900;
}

.collabtitle {
    font-weight: 900;
}

// use bulma helpers
// https://bulma.io/documentation/modifiers/typography-helpers/#font-family
.collabnames {
    font-family: mrs-eaves;
    font-weight: 900;
    line-height: 70%;
}

.projectdescription {
    line-height: 110%;
}

.quote {
    font-family: mrs-eaves;
    font-size: 2.5em;
}
