<nav class="navbar is-info is-fixed-bottom" role="navigation" aria-label="main navigation">
  <div class="container">

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
      </div>

      <div class="navbar-end">
        <div class="navbar-item has-dropdown has-dropdown-up is-hoverable">
          <a class="navbar-link navbar-index" href="/index.html">
            Projects
          </a>
          <div class="navbar-dropdown has-background-dark">
            <% %w(cmyk coke concacaf fallout indycar inter liberty merrell nba superbowl).each do |page| %>
              <a class="navbar-item navbar-<%=page%>" href="/<%=page%>.html"><%=page.capitalize%></a>
            <% end %>
          </div>
        </div>

        <div class="navbar-item has-dropdown has-dropdown-up is-hoverable">
          <a class="navbar-link">
            Development
          </a>
          <div class="navbar-dropdown has-background-dark">
            <a class="navbar-item" href="/images/mockup.pdf" target="_blank">Mockup</a>
            <a class="navbar-item" href="http://ellioterwin.com.s3-website-us-east-1.amazonaws.com/">Public Facing Site</a>
            <a class="navbar-item" href="/images/sitemap.pdf" target="_blank">Sitemap</a>
            <a class="navbar-item" href="/styleguide.html">Styleguide</a>
          </div>
        </div>

      </div>
    </div>

  </div>
</nav>


