---
title: American Express F1
---

<section class="section has-text-centered">
  <div class="container">
    <p class="has-text-weight-bold is-size-1 is-size-3-mobile is-uppercase">Amex F1 LVGP</p>
    <p class="projectdescription is-size-5">
      As Amex’s first foray into the world of F1, we started by identifying how to resonate with an American consumer. F1 is an established sport around the world, but new to Americans. From there, we began planning a massive takeover for the Las Vegas Grand Prix. From a three-story Fan Experience to private suites to the Sphere, I worked with Wasserman and the IAT to make sure Amex was not only a prominent sponsor, but there to provide service and entertainment – core to their brand DNA. A few things we built: an AI-powered experience where fans could create their own hype trailer, viewing decks with unparalleled views of the cars, our own “infinity room” that was our interpretation of a stylized mirrored garage, customizable livery patches and giveaways for fans, and more.    </p>
    <br>
    <p class="has-text-weight-bold is-size-4">Collaborators:</p>
    <p class="collabnames is-family-secondary has-text-weight-bold is-size-4 is-italic">Ward Williams // Eunhae Kang // Zuzu Boisson <br> Caleb VanDyke // Bri Garza</p>
  </div>
</section>

<section class="parallax" style="background-image: url(/images/projects/Amex/Amex_Header.jpg)">
</section>

<section class="section">
  <div class="container">

    <div class="columns is-multiline">

      <div class="column is-full">
        <% image "/images/projects/Amex/Entrance.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/Amex/AMEX_F1_Day2-27.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/Amex/RadioDude.jpg" %>
      </div>

      <div class="column is-one-third">
        <% image "/images/projects/Amex/DJ.jpg" %>
      </div>
      
      <div class="column is-one-third">
        <% image "/images/projects/Amex/Radio.jpg" %>
      </div>

      <div class="column is-one-third">
        <% image "/images/projects/Amex/Puzzle.jpg" %>
      </div>

      <div class="column is-full">
        <% image "/images/projects/Amex/AMEX_F1_Day2-30.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/Amex/Postcards.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/Amex/F1_Vegas-84.jpg" %>
      </div>

      <div class="column is-full">
        <% image "/images/projects/Amex/Floor2.jpg" %>
      </div>

      <div class="column is-one-third">
        <% image "/images/projects/Amex/AMEX_F1_Day2-19.jpg" %>
      </div>

      <div class="column is-two-thirds">
        <% image "/images/projects/Amex/Drink.jpg"%>
      </div>

      <div class="column is-full">
        <% image "/images/projects/Amex/AMEX_F1_Day1-22.jpg" %>
      </div>

      <div class="column is-full">
        <% image "/images/projects/Amex/F1_Vegas-82.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/Amex/Massage.jpg" %>
      </div>

      <div class="column is-one-half">
        <% image "/images/projects/Amex/AMEX_F1_Day1-15.jpg" %>
      </div>

      <div class="column is-full">
        <% image "/images/projects/Amex/F1_Vegas-10.jpg" %>
      </div>

      <div class="column is-two-thirds">
        <% image "/images/projects/Amex/BA.jpg"%>
      </div>

      <div class="column is-one-third">
        <% image "/images/projects/Amex/Malbon.jpg" %>
      </div>

      <div class="column is-full">
        <% image "/images/projects/Amex/AmexLounge.jpg" %>
      </div>

      <div class="column is-full">
        <% image "/images/projects/Amex/DesignLove.jpg" %>
      </div>

    </div>

  </div>
</section>
