---
title: Identity
---

<section class="section">
  <div class="container">
    <img src="/images/branding/sample.png">
  </div>
</section>


<section class="section has-background-light">
  <div class="container">
    <img src="/images/branding/sample.png">
  </div>
</section>

<section class="section has-background-info">
  <div class="container">
    <img src="/images/branding/sample.png">
  </div>
</section>
