---
title: America CMYK
---

<section class="section has-text-centered">
  <div class="container">
    <p class="has-text-weight-bold is-size-1 is-size-3-mobile is-uppercase">CMYK America</p>
    <p class="projectdescription is-size-5">
     This photo journal of diverse cultures, all found here in the U.S., was created in the spirit of demonstrating the complex beauty of our nation. Each case study takes a deep dive into evolving cultures and subcultures, illuminating a country less traveled. These wonderful artists and photographers include: Bobby Rogers, Angela Ruby Jones, Michael Hanson, Leandro Viana, Christopher Churchill, Sasha Maslov, Hatnim Lee and Alexander McMichael.
    </p>
    <br>
    <p class="has-text-weight-bold is-size-4">Collaborators:</p>
    <p class="collabnames is-family-secondary has-text-weight-bold is-size-4 is-italic">Rohan Juneja // Alexander McMichael</p>
  </div>
</section>


<section class="parallax" style="background-image: url(/images/projects/CMYK/CMYK_Header_3.jpg)">
</section>

<section class="section">
  <div class="container">

      <div class="column is-full">
        <% image "/images/projects/CMYK/CMYK_1.jpg" %>
      </div>

      <div class="column is-full">
        <% image "/images/projects/CMYK/CMYK_8.jpg" %>
      </div>

      <div class="column is-full">
        <% image "/images/projects/CMYK/CMYK_2.jpg" %>
      </div>

      <div class="column is-full">
        <% image "/images/projects/CMYK/CMYK_3.jpg" %>
      </div>

      <div class="column is-full">
        <% image "/images/projects/CMYK/CMYK_6.jpg" %>
      </div>

      <div class="column is-full">
        <% image "/images/projects/CMYK/CMYK_4.jpg" %>
      </div>

      <div class="column is-full">
        <% image "/images/projects/CMYK/CMYK_7.jpg" %>
      </div>

      <div class="column is-full">
        <% image "/images/projects/CMYK/CMYK_5.jpg" %>
      </div>

  </div>
</section>

<section class="section">
  <div class="container has-text-centered is-size-5">
    <a href="https://drive.google.com/file/d/0B1EpQzD3SIqNZTUyVmNJUktNZmM/view?usp=sharing" target="_blank">Download PDF</a>
  </div>
</section>
