---
title: America CMYK
---

<section class="section">
  <div class="container has-text-centered">
    <p class="has-text-weight-bold is-size-1 is-uppercase">CMYK America</p>
    <p class="projectdescription is-size-5">
      This project merged 70% CGI and 30% photography into rich landscapes that my partner in crime, James Adamé, and I pulled off in a very short timeframe. The work has been received in the United.
    </p>
    <br>
    <p class="has-text-weight-bold is-size-4">Collaborators:</p>
    <p class="collabnames is-family-secondary has-text-weight-bold is-size-3 is-italic">Rohan Juneja + Alexander McMichael</p>
  </div>
</section>


<section class="section">
  <img src="\images\projects\CMYK\CMYK_Header.jpg">
</section>

<section class="section">
  <div class="container">

      <div class="column is-full">
        <a class="image-wrapper" style="background-image: url(/images/projects/CMYK/CMYK_1.jpg)"></a>
      </div>

      <div class="column is-full">
        <a class="image-wrapper" style="background-image: url(/images/projects/CMYK/CMYK_2.jpg)"></a>
      </div>

      <div class="column is-full">
        <a class="image-wrapper" style="background-image: url(/images/projects/CMYK/CMYK_3.jpg)"></a>
      </div>

      <div class="column is-full">
        <a class="image-wrapper" style="background-image: url(/images/projects/CMYK/CMYK_6.jpg)"></a>
      </div>

      <div class="column is-full">
        <a class="image-wrapper" style="background-image: url(/images/projects/CMYK/CMYK_4.jpg)"></a>
      </div>

      <div class="column is-full">
        <a class="image-wrapper" style="background-image: url(/images/projects/CMYK/CMYK_7.jpg)"></a>
      </div>

      <div class="column is-full">
        <a class="image-wrapper" style="background-image: url(/images/projects/CMYK/CMYK_5.jpg)"></a>
      </div>

  </div>
</section>

<section class="section">
  <div class="container has-text-centered">
    <a href="#" target="_blank">Download PDF</a>
  </div>
</section>
