---
title: Coke
---

<section class="section has-text-centered">
  <div class="container">
    <p class="has-text-weight-bold is-size-1 is-uppercase">Coke + McClaren</p>
    <p class="projectdescription is-size-5">
     Coke came to us with two mandates; promote their partnership with the Mclaren Racing Team and push weight. <Br><Br>Our solution was to create a custom Amazon Marketplace full of limited edition gear exclusively available with purchase of Coke products. 
And who better to promote our store? F1’s resident goof balls Carlos Sainz and Lando Norris! Days before the US Formula 1 Grand Prix, they hit the road delivering Coke Zero Sugar to unsuspecting amazon customers. 

    </p>
    <br>
    <p class="has-text-weight-bold is-size-4">Collaborators:</p>
    <p class="collabnames is-family-secondary has-text-weight-bold is-size-3 is-italic">Kevin Gosselin</p>
  </div>
</section>

<section class="parallax" style="background-image: url(/images/projects/Coke/Coke_Header.jpg)">
</section>

<section class="section">
  <div class="container">

    <div class="columns is-multiline">
      <div class="column is-full">
        <div class="iframe-container">
          <iframe width="100%" height="auto" src="https://player.vimeo.com/video/388360616" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>

      <div class="column is-full">
        <% image "/images/projects/Coke/Coke_1.jpg" %>
      </div>

      <div class="column is-full">
        <div class="iframe-container">
          <iframe width="100%" height="auto" src="https://player.vimeo.com/video/388360537" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>

      <div class="column is-full">
        <% image "/images/projects/Coke/Coke_2.png" %>
      </div>

  </div>
</section>
