---
title: Concacaf
---

<section class="section">
  <div class="container has-text-centered">
    <p class="has-text-weight-bold is-size-1 is-uppercase">Concacaf</p>
    <p class="projectdescription is-size-5">
      This project merged 70% CGI and 30% photography into rich landscapes that my partner in crime, James Adamé, and I pulled off in a very short timeframe. The work has been received in the United.
    </p>
    <br>
    <p class="has-text-weight-bold is-size-4">Collaborators:</p>
    <p class="collabnames is-family-secondary has-text-weight-bold is-size-3 is-italic">Wasserman</p>
  </div>
</section>


<section class="section">
  <img src="/images/projects/Fallout/">
</section>

<section class="section">
  <div class="container">

    <div class="columns is-multiline">
      
      <div class="column is-full">
        <a class="image-wrapper" style="background-image: url(/images/projects/NBA/NBA_1.jpg)"></a>
      </div>

      <div class="column is-one-third">
        <a class="image-wrapper" style="background-image: url(/images/projects/NBA/NBA_2.jpg)"></a>
      </div>

      <div class="column is-two-thirds">
        <a class="image-wrapper" style="background-image: url(/images/projects/NBA/NBA_3.jpg)"></a>
      </div>
      
      <div class="column is-full">
        <a class="image-wrapper" style="background-image: url(/images/projects/NBA/NBA_4.webp)"></a>
      </div>
      
    </div>

  </div>
</section>

