---
title: Concacaf
---

<section class="section has-text-centered">
  <div class="container">
    <p class="has-text-weight-bold is-size-1 is-size-3-mobile is-uppercase">Hall of Femme</p>
    <p class="projectdescription is-size-5">
      Greatness can be found inside each of us, but history has often reserved that term to describe men. So, we created the Hall of Femme, a monument that pays homage to the great female athletes and, we hope, inspires young women to become future soccer stars. 
      From player stats and stories to photo-op murals created by female artists, this scalable traveling activation made it's way to 6 events and was seen by women all over the U.S.A.
    </p>
    <br>
    <p class="has-text-weight-bold is-size-4">Collaborators:</p>
    <p class="collabnames is-family-secondary has-text-weight-bold is-size-3 is-italic">Wasserman + Kristen Curtis</p>
  </div>
</section>


<section class="parallax" style="background-image: url(/images/projects/Concacaf/con1.jpg)">
</section>

<section class="section">
  <div class="container">

    <div class="columns is-multiline">

      <div class="column is-half">
        <% image "/images/projects/Concacaf/con2.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/Concacaf/con3.jpg" %>
      </div>

      <div class="column is-full">
        <% image "/images/projects/Concacaf/con4.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/Concacaf/con5.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/Concacaf/con13.jpeg" %>
      </div>

      <div class="column is-full">
        <% image "/images/projects/Concacaf/con6.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/Concacaf/con12.png" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/Concacaf/con14.jpg" %>
      </div>

      <div class="column is-full">
        <% image "/images/projects/Concacaf/con7.jpg" %>
      </div>

      <div class="column is-full">
        <% image "/images/projects/Concacaf/con9.jpeg" %>
      </div>

    </div>

  </div>
</section>

