---
title: Extras
---

<section class="section">
  <div class="container">

    <div class="columns is-multiline">

      <div class="column is-one-third">
        <div class="extra-placeholder"></div>
      </div>

      <div class="column is-two-thirds">
        <div class="extra-placeholder"></div>
      </div>

      <div class="column is-two-thirds">
        <div class="extra-placeholder"></div>
      </div>

      <div class="column is-one-third">
        <div class="extra-placeholder"></div>
      </div>

      <div class="column is-one-third">
        <div class="extra-placeholder"></div>
      </div>

      <div class="column is-two-thirds">
        <div class="extra-placeholder"></div>
      </div>

    </div>

  </div>
</section>
