---
title: Extras
---

<section class="section">
  <div class="container">

    <div class="columns is-multiline">

      <div class="column is-half">
        <% image("/images/projects/extras/Presskit.png", class: "has-background-white-bis") %>
      </div>

      <div class="column is-half">
        <% image("/images/projects/extras/BoxOpen.png", class: "has-background-white-bis") %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/extras/Rogue.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/extras/BAHealth.png", class: "has-background-info" %>
      </div>

      <div class="column is-full">
        <% image "/images/projects/extras/ZeroGroup1.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/extras/MerrellLogo.png" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/extras/BroncoLogo.png", class: "has-background-black-bis" %>
      </div>

      <div class="column is-full">
        <% image "/images/projects/extras/Espiritu1.jpg" %>
      </div>

      <div class="column is-one-third">
        <% image "/images/projects/extras/Batalla1.png", class: "has-background-black-bis" %>
      </div>

      <div class="column is-two-thirds">
        <% image "/images/projects/extras/Sylvia1.jpg", class: "has-background-black-bis" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/extras/VapCase.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/extras/Mogwai.png", class: "has-background-black-bis" %>
      </div>

     <div class="column is-two-thirds">
       <% image "/images/projects/extras/Supercuts1.jpg" %>
      </div>

      <div class="column is-one-third">
        <% image "/images/projects/extras/IOAP_Alpha.jpg", class: "has-background-black-bis" %>
      </div>

      <div class="column is-full">
       <div class="iframe-container">
          <iframe width="100%" height="auto" src="https://www.youtube.com/embed/PKsCZ2UxW00"  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>

      <div class="column is-one-third">
        <% image "/images/projects/extras/Bulb.jpg" %>
      </div>

      <div class="column is-two-thirds">
        <% image "/images/projects/extras/TVNext.jpg" %>
      </div>

    </div>

  </div>
</section>
