---
title: Fallout 76
---

<section class="section has-text-centered">
  <div class="container">
    <p class="has-text-weight-bold is-size-1 is-size-3-mobile is-uppercase">Xbox + 76ers</p>
    <p class="projectdescription is-size-5">
      For the release of Fallout 76 Microsoft tasked us with creating a crossover between the game and NBA’s Philadelphia 76ers. The result was custom Pip Boy promos, fully kitted Xbox wraps, 
      and two customizable jersey + shorts kits. <br><br>This was fun as hell.
    </p>
    <br>
    <p class="has-text-weight-bold is-size-4">Collaborators:</p>
    <p class="collabnames is-family-secondary has-text-weight-bold is-size-4 is-italic">Wasserman</p>
  </div>
</section>


<section class="parallax" style="background-image: url(/images/projects/Fallout/VaultHeader.jpg)">
</section>

<section class="section">
  <div class="container">

    <div class="columns is-multiline">
      <div class="column is-full">
        <div class="iframe-container">
          <iframe width="100%" height="auto" src="https://www.youtube.com/embed/nV0EpAHH-Ys" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>

      <div class="column is-one-third">
        <% image "/images/projects/Fallout/Jersey.jpg" %>
      </div>

      <div class="column is-two-thirds">
        <% image "/images/projects/Fallout/Kit.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/Fallout/VaultBoyPress.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/Fallout/Suit.jpg" %>
      </div>
    </div>

  </div>
</section>

<section class="section">
  <div class="container has-text-centered">
    <p class="is-family-secondary is-italic is-size-2">“I thought you had to know how to shoot to play a Fallout game.”
    </p>
    <p class="attribution is-size-6">- Reddit's TakumiAldiniFujiwara <br></p>
   </div>
</section>
