---
title: Fallout 76
---

<section class="section">
  <div class="container">


  <div class="iframe-container">
      <iframe width="100%" height="auto" src="https://player.vimeo.com/video/221932631" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="columns is-multiline">

    

      <div class="column is-one-third">
        <a class="image-wrapper" style="background-image: url(/images/projects/Inter2.png)"></a>
      </div>

      <div class="column is-two-thirds">
        <div class="extra-placeholder"></div>
      </div>

      <div class="column is-three-thirds">
        <div class="extra-placeholder"></div>
      </div>

    </div>

  </div>
</section>
