---
title: Casa Ferrari
---

<section class="section has-text-centered">
  <div class="container">
    <p class="has-text-weight-bold is-size-1 is-size-3-mobile is-uppercase">Casa Ferrari</p>
    <p class="projectdescription is-size-5">
      In 2023, Ferrari made a spectacular return to Monterey Car Week to celebrate the Spirit of Racing. For the third consecutive year, Wasserman highlighted Ferrari's “Race to Road” campaign, emphasizing the brand's rich heritage at a pivotal cultural moment when Ferrari's legacy was more celebrated and visible than ever.
<br><br>Every detail was meticulously designed to exceed Ferrari's standards. Guests enjoyed exclusive hospitality, including evening receptions, live musical performances, viewing parties, a parade of iconic Ferraris, and a VIP dinner curated by visionary chef Michele Casadei Massari. The week concluded with Concorso Ferrari, showcasing over 75 vehicles from Ferrari’s road and racing history.
</p>
    <br>
    <p class="has-text-weight-bold is-size-4">Collaborators:</p>
    <p class="collabnames is-family-secondary has-text-weight-bold is-size-4 is-italic">Jason Fisher // Sebastien Theroux // Nick Billings <br> Rob Frasketi // Autumn Morowitz</p>
  </div>
</section>

<section class="parallax" style="background-image: url(/images/projects/Ferrari/Header2.jpg)">
</section>

<section class="section">
  <div class="container">

    <div class="columns is-multiline">


      <div class="column is-full">
        <div class="iframe-container">
          <iframe width="100%" height="auto" width="1920" height="1080" src="https://player.vimeo.com/video/988512292?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Casa Ferrari" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>

      <div class="column is-full">
        <% image "/images/projects/Ferrari/Entrance.jpg" %>
      </div>

      <div class="column is-two-thirds">
        <% image "/images/projects/Ferrari/CarEnt.jpg" %>
      </div>

      <div class="column is-one-third">
        <% image "/images/projects/Ferrari/BAs.jpg" %>
      </div>

      <div class="column is-one-third">
        <% image "/images/projects/Ferrari/Interior1.jpg" %>
      </div>  

      <div class="column is-two-thirds">
        <% image "/images/projects/Ferrari/Interior2.jpg" %>
      </div>
    
      <div class="column is-full">
        <% image "/images/projects/Ferrari/Shop.jpg" %>
      </div>

      <div class="column is-two-thirds">
        <% image "/images/projects/Ferrari/Shop2.jpg" %>
      </div>

      <div class="column is-one-third">
        <% image "/images/projects/Ferrari/Shop3.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/Ferrari/atelier1.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/Ferrari/atelier2.jpg" %>
      </div>

      
      <div class="column is-half">
        <% image "/images/projects/Ferrari/Bedroom3.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/Ferrari/Bedroom2.jpg" %>
      </div>

      <div class="column is-full">
        <% image "/images/projects/Ferrari/Gas1.jpg" %>
      </div>

    <div class="column is-two-thirds">
        <% image "/images/projects/Ferrari/Gas7.jpg" %>
      </div>

      <div class="column is-one-third">
        <% image "/images/projects/Ferrari/Gas6.jpg" %>
      </div>

    <div class="column is-full">
        <% image "/images/projects/Ferrari/Gas8.jpg" %>
      </div>

    <div class="column is-full">
        <% image "/images/projects/Ferrari/Field9.jpg" %>
      </div>

      <div class="column is-two-thirds">
        <% image "/images/projects/Ferrari/Field1.jpg" %>
      </div>

      <div class="column is-one-third">
        <% image "/images/projects/Ferrari/Field4.jpg" %>
      </div>
      
      <div class="column is-one-third">
        <% image "/images/projects/Ferrari/Field2.jpg" %>
      </div>
            <div class="column is-one-third">
        <% image "/images/projects/Ferrari/Field3.jpg" %>
      </div>
            <div class="column is-one-third">
        <% image "/images/projects/Ferrari/Field5.jpg" %>
      </div>

      <div class="column is-full">
        <% image "/images/projects/Ferrari/Night1.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/Ferrari/Night7.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/Ferrari/Night6.jpg" %>
      </div>

      <div class="column is-one-third">
        <% image "/images/projects/Ferrari/Night5.jpg" %>
      </div>

      <div class="column is-two-thirds">
        <% image "/images/projects/Ferrari/Night3.jpg" %>
      </div>

      

      <div class="column is-full">
        <% image "/images/projects/Ferrari/Night2.jpg" %>
      </div>

      <div class="column is-one-third">
        <% image "/images/projects/Ferrari/Night9.jpg" %>
      </div>

      <div class="column is-two-thirds">
        <% image "/images/projects/Ferrari/Night8.jpg" %>
      </div>



    </div>

  </div>
</section>
