---
title: Hello
---

<section class="section is-medium">
  <div class="container">

    <div class="columns has-text-left">
      
      <div class="column is-one-quarter contactinfo">
        <h1 class="title is-4 is-uppercase">Say Hello!</h1>
        
        <h2 class="has-text-weight-bold is-size-6 ">Email: <br></h2>
        <p>
          <a  class="is-size-7" href="mailto:ellioterwin@gmail.com">ellioterwin@gmail.com</a>
        </p>

        
        <h2 class="has-text-weight-bold is-size-6">Phone: <br></h2>
         <p class="is-size-7">
           +1  978  760  0405
        </p>

        <h2 class="has-text-weight-bold is-size-6">Social: <br></h2>
        <p>
          <a class="is-size-7" href="https://www.linkedin.com/in/ellioterwin/" target="_blank">LinkedIn</a>
        </p>

        <p>
          <h2 class="has-text-weight-bold is-size-6">My Dog:</h2>
          <a class="is-size-7" href="images/izzy.jpg" target="_blank">Izzy</a>
        </p>

      </div>

      <div class="column is-two-fifths bio">
        <h1 class="title is-4 is-uppercase">About</h1>
         <p>
          Brought to Earth the same year as <a href="https://www.imdb.com/title/tt0097257/" target="_blank">Geff Goldblum</a>. <br><br>
          
          Miami based yet shockingly pale. <br><br>
          
          A designer's art director. I believe in good craft and doing it yourself whenever possible. 
          I thrive when working with vibrant brands that are eager to explore creative and artistic to solutions to their problems. <br><br>
         </p>

        <h1 class="title biosubhead is-6 is-uppercase">Reactons to My Work</h1>

        <p class="has-text-weight-bold is-size-5 is-family-secondary is-uppercase">"Fuggggg <img src="/images/omg.png"><img src="/images/omg.png"><img src="/images/omg.png">"</p>
        <p class="is-size-7">Clayton Jones, Art Director - MTV</p>

        <br>
        <p class="has-text-weight-bold is-size-5 is-family-secondary is-uppercase">"Absolutely obssssssssed with this!!!!"</p>
        <p class="is-size-7">Kate Talamo, Founder &amp; CEO - Think Traffic</p>

        <br>
        <p class="has-text-weight-bold is-size-5 is-family-secondary">"Whatever you need, except my body, you got it."</p>
        <p class="is-size-7">Freddie Gotanco, Director of Creative Operations - Wasserman</p>

      </div>

    </div>

  </div>
</section>
