---
title: Elliot Erwin
---

<section class="section is-medium">
  <div class="container">

    <div class="columns has-text-left">
      
      <div class="column is-one-quarter contactinfo">
        <h1 class="title is-4 is-uppercase">Say Hello!</h1>
        
        <h2 class="has-text-weight-bold is-size-6 ">Email: <br></h2>
        <p>
          <a  class="is-size-7" href="mailto:ellioterwin@gmail.com">ellioterwin@gmail.com</a>
        </p>

        
        <h2 class="has-text-weight-bold is-size-6">Phone: <br></h2>
         <p class="is-size-7">
           +1  978  760  0405
        </p>

        <h2 class="has-text-weight-bold is-size-6">Social: <br></h2>
        <p>
          <a class="is-size-7" href="https://www.linkedin.com/in/ellioterwin/" target="_blank">LinkedIn</a>
        </p>

        <p>
          <h2 class="has-text-weight-bold is-size-6">My Dog:</h2>
          <a class="is-size-7" href="images/izzy.jpg" target="_blank">Izzy</a>
        </p>

      </div>

      <div class="column is-two-fifths bio">
        <h1 class="title is-4 is-uppercase">About</h1>
         <p>
          Elliot Erwin is an award-winning Designer Director who believes in the power of design to tell a story on behalf of his clients. With nearly 15 years of agency experience, he believes in sweating the small stuff and doing it yourself. Over his career, Elliot has applied his keen eye to a diverse range of categories from hospitality to fashion to automotive, Broadway to the Super Bowl. An advocate for younger talent and a mentor at heart, Elliot has innate leadership skills that have been shaped by years of experience as a manager. An eye for detail, an obsession for craft, Elliot believes strongly in the benefits of collaboration yet still finds joy in rolling up his sleeves and getting hands on with the color, shape and form that makes up the fun challenges that define the world of design. <br><br>
         </p>

        <h1 class="title biosubhead is-6 is-uppercase">Brand Experience</h1>
        <!--
        <p class="has-text-weight-bold is-size-5 is-family-secondary is-uppercase">"Fuggggg <img src="/images/omg.png"><img src="/images/omg.png"><img src="/images/omg.png">"</p>
        <p class="is-size-7">Clayton Jones, Art Director - MTV</p>

        <br>
        <p class="has-text-weight-bold is-size-5 is-family-secondary is-uppercase">"Absolutely obsesssssssed with this!!!!"</p>
        <p class="is-size-7">Kate Talamo, Founder &amp; CEO - Think Traffic</p>

        <br>
        <p class="has-text-weight-bold is-size-5 is-family-secondary">"Whatever you need, except my body, you got it."</p>
        <p class="is-size-7">Freddie Gotanco, Director of Creative Operations - Wasserman</p>
        -->
        <div class="columns is-hidden-mobile brands">
          
          <div class="column is-one-fifth">
            <% image "/images/logos/boa.svg" %>
          </div>
          
          <div class="column is-one-fifth">
            <% image "/images/logos/lm.svg" %>
          </div>
          
          <div class="column is-one-fifth">
            <% image "/images/logos/vz.svg" %>
          </div>
          
          <div class="column is-one-fifth">
            <% image "/images/logos/comcast.svg" %>
          </div>
          
          <div class="column is-one-fifth">
            <% image "/images/logos/saks.svg" %>
          </div>

        
        </div>

        <div class="columns brands">
          
          <div class="column is-one-fifth">
            <% image "/images/logos/TB.svg" %>
          </div>
          
          <div class="column is-one-fifth">
            <% image "/images/logos/Target.svg" %>
          </div>
          
          <div class="column is-one-fifth">
            <% image "/images/logos/Amex.svg" %>
          </div>
          
          <div class="column is-one-fifth">
            <% image "/images/logos/fer.svg" %>
          </div>
          
          <div class="column is-one-fifth">
            <% image "/images/logos/RB.svg" %>
          </div>
        
        </div>

        <div class="columns brands">
          
          <div class="column is-one-fifth">
            <% image "/images/logos/xbox.svg" %>
          </div>
          
          <div class="column is-one-fifth">
            <% image "/images/logos/prog.svg" %>
          </div>
          
          <div class="column is-one-fifth">
            <% image "/images/logos/merrell.svg" %>
          </div>
          
          <div class="column is-one-fifth">
            <% image "/images/logos/wf.svg" %>
          </div>
          
          <div class="column is-one-fifth">
            <% image "/images/logos/coke.svg" %>
          </div>
        
        </div>

        <div class="columns brands">
          
          <div class="column is-one-fifth">
            <% image "/images/logos/merc.svg" %>
          </div>
          
          <div class="column is-one-fifth">
            <% image "/images/logos/GS.svg" %>
          </div>
          
          <div class="column is-one-fifth">
            <% image "/images/logos/bs.svg" %>
          </div>
          
          <div class="column is-one-fifth">
            <% image "/images/logos/amazon.svg" %>
          </div>
          
          <div class="column is-one-fifth">
            <% image "/images/logos/dunkin.svg" %>
          </div>
        
        </div>      

        <div class="columns brands">
          
          <div class="column is-one-fifth">
            <% image "/images/logos/microsoft.svg" %>
          </div>
          
          <div class="column is-one-fifth">
            <% image "/images/logos/salesforce.svg" %>
          </div>
          
          <div class="column is-one-fifth">
            <% image "/images/logos/panasonic.svg" %>
          </div>
          
          <div class="column is-one-fifth">
            <% image "/images/logos/disney.svg" %>
          </div>
          
          <div class="column is-one-fifth">
            <% image "/images/logos/uber.svg" %>
          </div>
        
        </div>  

        <div class="columns brands">
          
          <div class="column is-one-fifth">
            <% image "/images/logos/fl.svg" %>
          </div>
          
          <div class="column is-one-fifth">
            <% image "/images/logos/ford.svg" %>
          </div>
          
          <div class="column is-one-fifth">
            <% image "/images/logos/google.svg" %>
          </div>
          
          <div class="column is-one-fifth">
            <% image "/images/logos/ftx.svg" %>
          </div>
          
          <div class="column is-one-fifth">
            <% image "/images/logos/lego.svg" %>
          </div>
        
        </div>  


      </div>

      
     


    </div>

  </div>
</section>
