---
title: About
---

<section class="section is-medium">
  <div class="container">

    <div class="columns has-text-centered">
      <div class="column">
        <h1 class="title is-4 is-uppercase">About</h1>
        <p>
          I am Elliot Erwin and I am an art director, designer and retoucher. In short, I create pictures that tell stories.
        </p>
        <br>
        <p>
          Working with photographers and photographs, illustrators and illustration software; I guide and create the pieces that come together to make something greater then the sum of its parts. I am happiest working with vibrant brands that are eager to explore creative and artistic solutions to their problems.
        </p>
        <br>
        <p>
          Specialties: art direction, photography, design, retouching, print, new media app concept &amp; design, experiential design and much more.
        </p>
        <br>
        <p>
          <a href="mailto:ellioterwin@gmail.com">ellioterwin@gmail.com</a>
        </p>
      </div>

      <div class="column">
        <h1 class="title is-4 is-uppercase">Reactons to My Work</h1>

        <p class="is-size-5 is-family-secondary is-uppercase">"Fuggggg"</p>
        <p class="is-size-7">Clayton Jones, Senior Graphic Designer - MTV</p>

        <br>
        <p class="is-size-5 is-family-secondary is-uppercase">"Absolutely obssssssssed with this!!!!"</p>
        <p class="is-size-7">Kate Talamo, Founder &amp; CEO - Think Traffic</p>

        <br>
        <p class="is-size-5 is-family-secondary">"Whatever you need, except my body, you got it."</p>
        <p class="is-size-7">Freddie Gotanco, Director of Creative Operations - Wasserman</p>
      </div>
    </div>

  </div>
</section>
