---
title: Elliot Erwin
---


<section class="section">
  <div class="container">

    <div class="columns is-multiline has-text-centered">

    <div class="column is-one-third">
      <a  href="amexf1.html">
        <% image "/images/projects/AmexTest.gif" do %>
          <p class="title is-2 is-uppercase">AMEX F1</p>
        <% end %>
      </a>
    </div>

        <div class="column is-two-thirds">
      <a href="ferrari.html">
        <% image "/images/projects/Ferrari.webp" do %>
          <p class="title is-1 is-uppercase">Casa Ferrari</p>
        <% end %>
      </a>
    </div>


    <div class="column is-two-thirds">
      <a href="progressive.html">
        <% image "/images/projects/ProgressiveEagle.jpg" do %>
          <p class="title is-3 is-uppercase">Progressive Moto</p>
        <% end %>
      </a>
    </div>



      <div class="column is-one-third">
        <a  href="progressiveboat.html">
          <% image "/images/projects/BoatFellas.gif" do %>
            <p class="title is-4 is-uppercase">Progressive Boat</p>
          <% end %>
        </a>
      </div>



      <div class="column is-one-third">
        <a  href="tacobell.html" >
          <% image "/images/projects/TBAttract.webp" do %>
            <p class="title is-2 is-uppercase">Taco Bell + Cheez-It</p>
          <% end %>
        </a>
      </div>

          <div class="column is-two-thirds">
        <a  href="redbull.html">
          <% image "/images/projects/VerstapWin.gif" do %>
            <p class="title is-1 is-uppercase">Red Bull</p>
          <% end %>
        </a>
      </div>




      <div class="column is-two-thirds">
        <a  href="superbowl.html">
          <% image "/images/projects/SuperBowl2.gif" do %>
            <p class="title is-1 is-uppercase">Verizon Superbowl</p>
          <% end %>
        </a>
      </div>
    <!--
    <div class="column is-one-third">
      <a  href="cmyk.html">
        <% image "/images/projects/CMYK.jpg" do %>
          <p class="title is-2 is-uppercase">CMYK America</p>
        <% end %>
      </a>
    </div>
    -->

    <!-- <div class="column is-one-third">
        <a  href="coke.html" >
          <% image "/images/projects/CokeLo.gif" do %>
            <p class="title is-2 is-uppercase">Mclaren + Coke</p>
          <% end %>
        </a>
      </div>
    -->
    

      
 <div class="column is-one-third">
      <a href="fallout.html">
        <% image "/images/projects/Fallout.webp" do %>
          <p class="title is-1 is-uppercase">Xbox + 76ers</p>
        <% end %>
      </a>
    </div>
    
<!--
      <div class="column is-one-third">
      <a  href="indycar.html">
        <% image "/images/projects/IndyCar1.gif" do %>
          <p class="title is-2 is-uppercase">Verizon IndyCar</p>
        <% end %>
      </a>
    </div>
-->


      <div class="column is-one-third">
        <a  href="merrell.html">
          <% image "/images/projects/Merrell2.jpg" do %>
            <p class="title is-2 is-uppercase">Merrell</p>
          <% end %>
        </a>
      </div>

    <div class="column is-two-thirds">
        <a  href="liberty.html">
          <% image "/images/projects/Liberty.gif" do %>
            <p class="title is-1 is-uppercase">Liberty Mutual</p>
          <% end %>
        </a>
      </div>
      
      <!--
      <div class="column is-one-third">
        <a  href="concacaf.html">
          <% image "/images/projects/Conca1.gif" do %>
            <p class="title is-4 is-uppercase">concacaf</p>
          <% end %>
        </a>
      </div>
      -->

    </div>

  </div>
</section>
