---
title: Elliot Erwin
---


<section class="section">
  <div class="container">

    <div class="columns is-multiline has-text-centered">

    <div class="column is-two-thirds">
        <a  href="nba.html">
          <% image "/images/projects/NBA_LoRes.gif" do %>
            <p class="title is-1 is-uppercase">NBA All-Star</p>
          <% end %>
        </a>
      </div>

      <div class="column is-one-third">
        <a  href="coke.html" >
          <% image "/images/projects/CokeLo.gif" do %>
            <p class="title is-2 is-uppercase">Mclaren + Coke</p>
          <% end %>
        </a>
      </div>

      <div class="column is-one-third">
      <a  href="cmyk.html">
        <% image "/images/projects/CMYK.png" do %>
          <p class="title is-2 is-uppercase">CMYK America</p>
        <% end %>
      </a>
    </div>

    <div class="column is-two-thirds">
      <a href="fallout.html">
        <% image "/images/projects/Fallout.gif" do %>
          <p class="title is-1 is-uppercase">Xbox + 76ers</p>
        <% end %>
      </a>
    </div>

      

      <div class="column is-two-thirds">
        <a  href="superbowl.html">
          <% image "/images/projects/SuperBowl2.gif" do %>
            <p class="title is-1 is-uppercase">Verizon Superbowl</p>
          <% end %>
        </a>
      </div>

      <div class="column is-one-third">
        <a  href="inter.html">
          <% image "/images/projects/Inter2.png" do %>
            <p class="title is-2 is-uppercase">Inter Milan</p>
          <% end %>
        </a>
      </div>

      <div class="column is-one-third">
      <a  href="indycar.html">
        <% image "/images/projects/IndyCar1.gif" do %>
          <p class="title is-2 is-uppercase">Verizon IndyCar</p>
        <% end %>
      </a>
    </div>

      <div class="column is-two-thirds">
        <a  href="merrell.html">
          <% image "/images/projects/Merrell.png" do %>
            <p class="title is-1 is-uppercase">Merrell</p>
          <% end %>
        </a>
      </div>

      <div class="column is-two-thirds">
        <a  href="liberty.html">
          <% image "/images/projects/Liberty.gif" do %>
            <p class="title is-1 is-uppercase">Liberty Mutual</p>
          <% end %>
        </a>
      </div>

      <div class="column is-one-third">
        <a  href="concacaf.html">
          <% image "/images/projects/Conca1.gif" do %>
            <p class="title is-3 is-uppercase">concacaf</p>
          <% end %>
        </a>
      </div>

    </div>

  </div>
</section>
