---
title: IndyCar
---

<section class="section has-text-centered">
  <div class="container">
    <p class="has-text-weight-bold is-size-1 is-uppercase">Verizon IndyCar</p>
    <p class="projectdescription is-size-5">
     At the historic 100th Running of the Indy 500—the nation’s largest sporting event by attendance—we teamed up with R/GA to make “the greatest spectacle in racing” even better on Verizon by offering customers a chance to score #InsideIndy tickets to watch the race from the iconic Panasonic Pagoda  and the first-ever live 360° VR viewing experience.
<br><br>Setup in a tent in the middle of an active race track, this was easily the loudest photoshoots I've gotten the opportunity to do.

    </p>
    <br>
    <p class="has-text-weight-bold is-size-4">Collaborators:</p>
    <p class="collabnames is-family-secondary has-text-weight-bold is-size-3 is-italic">Sam Resta + Noah Sacksteder</p>
  </div>
</section>


<section class="parallax" style="background-image: url(/images/projects/IndyCar/indy3.jpg)">
</section>

<section class="section">
  <div class="container">

    <div class="columns is-multiline">

    <div class="column is-full">
        <div class="iframe-container">
          <iframe width="100%" height="auto" src="https://player.vimeo.com/video/169635407" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>

      <div class="column is-full">
        <% image "/images/projects/IndyCar/indyads.png" %>
      </div>

      <div class="column is-full">
        <% image "/images/projects/IndyCar/indy2.jpg" %>
      </div>

      <div class="column is-full">
        <% image "/images/projects/IndyCar/indy3.jpg" %>
      </div>

      <div class="column is-full">
        <% image "/images/projects/IndyCar/indy4.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/IndyCar/indy6.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/IndyCar/indy8.jpg" %>
      </div>

      <div class="column is-full">
        <% image "/images/projects/IndyCar/indy10.jpg" %>
      </div>

       <div class="column is-half">
         <% image "/images/projects/IndyCar/indy1.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/IndyCar/indy9.jpg" %>
      </div>

      <div class="column is-full">
        <% image "/images/projects/IndyCar/indy12.jpg" %>
      </div>

    </div>

  </div>
</section>
