---
title: Inter Milan
---

<section class="section has-text-centered">
  <div class="container">
    <p class="has-text-weight-bold is-size-1 is-uppercase">Inter Milan</p>
    <p class="projectdescription is-size-5">
      For futbol fans, Inter Milan is one of the most beloved and far reaching brands in the world, so when they came to us to guide their entire approach to social, we knew we had to deliver something flexible, thorough, and distinct.  The result was a 60 page playbook that dictates a consistent approach across multiple platforms in order to reach 8 million fans across the globe.
    <br>
    <p class="has-text-weight-bold is-size-4">Collaborators:</p>
    <p class="collabnames is-family-secondary has-text-weight-bold is-size-3 is-italic">Rohan Juneja + Alexander McMichael + Rod Alanis</p>
  </div>
</section>


<section class="section has-text-centered">
  <img src="/images/projects/Inter/InterHeader.jpg">
</section>

<section class="section">
  <div class="container">

    <div class="columns is-multiline">
      <div class="column is-full">
        <img src="/images/projects/Inter/Inter0.jpg">
      </div>
      <div class="column is-full">
        <img src="/images/projects/Inter/Inter1.jpg">
      </div>
      <div class="column is-full">
        <img src="/images/projects/Inter/Inter6.jpg">
      </div>
      <div class="column is-full">
        <img src="/images/projects/Inter/Inter2.jpg">
      </div>
      <div class="column is-full">
        <img src="/images/projects/Inter/Inter4.jpg">
      </div>
      <div class="column is-full">
        <img src="/images/projects/Inter/Inter3.jpg">
      </div>

       <div class="column is-full">
        <img src="/images/projects/Inter/Inter5.jpg">
      </div>
      <div class="column is-full">
        <img src="/images/projects/Inter/Inter7.jpg">
      </div>
    </div>

  </div>
</section>

<section class="section">
  <div class="container has-text-centered is-size-4">
    <a href="#" target="_blank">Download PDF</a>
  </div>
</section>
