---
title: Liberty Mutual
---

<section class="section has-text-centered">
  <div class="container">
    <p class="has-text-weight-bold is-size-1 is-uppercase">Liberty Mutual</p>
    <p class="projectdescription is-size-5">
     We spoke to people from all walks of life, all across the country. But mostly, we listened. The result was a lot of compelling information in a less-than-compelling format. So when it came time to share what we learned with our client, we decided to design a piece that was as unique as the story it told. So we created an interactive experience using illustrations, animation, code, and design. From the outside, it looked like a book. We called it “The Most Responsible Book Ever Created.” Through the lens of an iPad mini that comes with the book, illustrations come to life and enhance the narrative. Additionally, charts spring from the page in 3D form.
    </p>
    <br>
    <p class="has-text-weight-bold is-size-4">Collaborators:</p>
    <p class="collabnames is-family-secondary has-text-weight-bold is-size-4 is-italic">James Adame + Wes Dorsainvil + Nat Wales</p>
  </div>
</section>


<section class="parallax" style="background-image: url(/images/projects/LibertyMutual/LM1.jpg)">
</section>

<section class="section has-text-centered">
  <div class="container">

    <div class="columns is-multiline">

      <div class="column is-full">
        <div class="iframe-container">
          <iframe width="100%" height="auto" src="https://player.vimeo.com/video/63926524" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>

      <div class="column is-full">
        <% image "/images/projects/LibertyMutual/LM1.jpg" %>
      </div>

      <div class="column is-full">
        <% image "/images/projects/LibertyMutual/LM2.jpg" %>
      </div>

      <div class="column is-full">
        <% image "/images/projects/LibertyMutual/LM3.jpg" %>
      </div>

      <div class="column is-full">
        <% image "/images/projects/LibertyMutual/LM4.jpg" %>
      </div>

      <div class="column is-full">
        <% image "/images/projects/LibertyMutual/LM5.jpg" %>
      </div>

      <div class="column is-full">
        <% image "/images/projects/LibertyMutual/LM7.jpg" %>
      </div>

      <div class="column is-full">
        <% image "/images/projects/LibertyMutual/LM8.jpg" %>
      </div>

      <div class="column is-full">
        <% image "/images/projects/LibertyMutual/LM9.jpg" %>
      </div>

      <div class="column is-full">
        <% image "/images/projects/LibertyMutual/LM11.jpg" %>
      </div>

      <div class="column is-full">
        <% image "/images/projects/LibertyMutual/LM12.jpg" %>
      </div>

      <div class="column is-full">
        <div class="iframe-container">
          <iframe width="100%" height="auto" src="https://player.vimeo.com/video/438953710" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>




    </div>

  </div>
</section>
