---
title: Logos
---
<!--
<section class="section has-text-centered">
  <div class="container">
    <p class="has-text-weight-bold is-size-1 is-size-3-mobile is-uppercase">Logo Marks</p>
  </div>
</section>

<section class="parallax" style="background-image: url(/images/projects/NBA/NBA_Header.jpg)">
</section>-->

<section class="section">
  <div class="container">

    <div class="columns is-multiline">

      <div class="column is-half">
        <% image "/images/projects/logos/LogoSheet-16.jpg", hover: "/images/projects/logos/alts/ChoppedAlt.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/logos/LogoSheet-02.jpg", hover: "/images/projects/logos/alts/TumultAlt.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/logos/LogoSheet-03.jpg", hover: "/images/projects/logos/alts/LuTheBeastAlt.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/logos/LogoSheet-04.jpg", hover: "/images/projects/logos/alts/LuAlt.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/logos/LogoSheet-05.jpg", hover: "/images/projects/logos/alts/ProgressiveAlt.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/logos/LogoSheet-06.jpg", hover: "/images/projects/logos/alts/PhoenixAlt.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/logos/LogoSheet-07.jpg", hover: "/images/projects/logos/alts/BlackstoneAlt.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/logos/LogoSheet-08.jpg", hover: "/images/projects/logos/alts/ZildjAlt.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/logos/LogoSheet-09.jpg", hover: "/images/projects/logos/alts/MiamiAlt.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/logos/LogoSheet-10.jpg", hover: "/images/projects/logos/alts/SeventhWishAlt.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/logos/LogoSheet-11.jpg", hover: "/images/projects/logos/alts/RedeemersAlt.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/logos/LogoSheet-12.jpg", hover: "/images/projects/logos/alts/ForeFrontAlt.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/logos/LogoSheet-13.jpg", hover: "/images/projects/logos/alts/NexusStars.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/logos/LogoSheet-14.jpg", hover: "/images/projects/logos/alts/AnthoraAlt.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/logos/LogoSheet-15.jpg", hover: "/images/projects/logos/alts/ShanksAlt.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/logos/LogoSheet-01.jpg", hover: "/images/projects/logos/alts/WildRpAlt.jpg" %>
      </div>

    </div>

  </div>
</section>
