---
title: NBA Crossover
---

<section class="section has-text-centered">
  <div class="container">
    <p class="has-text-weight-bold is-size-1 is-size-3-mobile is-uppercase">NBA Csrossover</p>
    <p class="projectdescription is-size-5">
     Leading up to the 2019 All-Star game in Charlotte, the NBA wanted to create an exclusive event showcasing the convergence of NBA and pop culture through the art, 
     fashion, music, technology and entertainment. For this monumental task we took over three floors of the Charlotte Epicentre and created a cohesive ecosystem of over 15 brands including Mtn Dew, 
     Jack Daniels and Budweiser. Each night of this three day event culminated with a VIP concert hosted by Budweiser Live featuring French Montana and Janelle Monae. <br><br>Also someone brought a monkey.
    </p>
    <br>
    <p class="has-text-weight-bold is-size-4">Collaborators:</p>
    <p class="collabnames is-family-secondary has-text-weight-bold is-size-4 is-italic">Wasserman // Kyle Mahan // Eunhae Kang</p>
  </div>
</section>

<section class="parallax" style="background-image: url(/images/projects/NBA/NBA_Header.jpg)">
</section>

<section class="section">
  <div class="container">

    <div class="columns is-multiline">
      <div class="column is-full">
        <div class="iframe-container">
          <iframe width="100%" height="auto" src="https://player.vimeo.com/video/388366355"></iframe>
        </div>
      </div>

      <div class="column is-full">
        <% image "/images/projects/NBA/NBA_1.jpg" %>
      </div>

      <div class="column is-one-third">
        <% image "/images/projects/NBA/NBA_2.jpg" %>
      </div>

      <div class="column is-two-thirds">
        <% image "/images/projects/NBA/NBA_3.jpg" %>
      </div>

      <div class="column is-full">
        <% image "/images/projects/NBA/NBA_4.jpg" %>
      </div>

      <div class="column is-two-thirds">
        <% image "/images/projects/NBA/NBA_5.jpg" %>
      </div>

      <div class="column is-one-third">
        <% image "/images/projects/NBA/NBA_6.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/NBA/NBA_10.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/NBA/NBA_13.jpg" %>
      </div>

      <div class="column is-full">
        <% image "/images/projects/NBA/NBA_8.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/NBA/NBA_9.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/NBA/NBA_7.jpg" %>
      </div>

      <div class="column is-full">
        <% image "/images/projects/NBA/NBA_12.jpg" %>
      </div>

    </div>

  </div>
</section>
