---
title: Panasonic
---

<section class="section">
  <div class="container has-text-centered">
    <p class="has-text-weight-bold is-size-1 is-uppercase">Panasonic</p>
    <p class="projectdescription is-size-5">
      This project merged 70% CGI and 30% photography into rich landscapes that my partner in crime, James Adamé, and I pulled off in a very short timeframe. The work has been received in the United.
    </p>
    <br>
    <p class="has-text-weight-bold is-size-4">Collaborators:</p>
    <p class="collabnames is-family-secondary has-text-weight-bold is-size-3 is-italic">Lee Walters</p>
  </div>
</section>


<section class="section">
  <img src="/images/projects/Fallout/">
</section>

<section class="section">
  <div class="container">

    <div class="columns is-multiline">
      <div class="column is-full">
        <img src="/images/projects/Panasonic/panasonic_1.png">
      </div>
      <div class="column is-full">
        <img src="/images/projects/Panasonic/panasonic_2.png">
      </div>
      <div class="column is-full">
        <img src="/images/projects/Panasonic/panasonic_3.png">
      </div>
      
    </div>

  </div>
</section>

