---
title: Posters
---

<section class="section">
  <div class="container">

    <div class="columns is-mobile is-multiline">

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/akira.png)">
          <div class="image-hover">
            <p class="title">Akira Poster</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Movie Night Miami</p>
            <p class="posterinfo is-size-7">
              <strong>Heading</strong><br>
              This is words
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
              <li><a href="#" target="_blank">Layered Files</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/Vibes.png)">
            <div class="image-hover">
            <p class="title">Vibes</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Movie Night Miami</p>
            <p class="is-size-7">
              <strong>Heading</strong><br>
              This is words
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
              <li><a href="#" target="_blank">Layered Files</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/LostBoys.png)">
          <div class="image-hover">
            <p class="title">Lost Boys</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Movie Night Miami</p>
            <p class="is-size-7">
              <strong>Heading</strong><br>
              This is words
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
              <li><a href="#" target="_blank">Layered Files</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/LiquidSky.png)">
          <div class="image-hover">
            <p class="title">Liquid Sky</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Movie Night Miami</p>
            <p class="is-size-7">
              <strong>Heading</strong><br>
              This is words
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
              <li><a href="#" target="_blank">Layered Files</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/Brigsby.png)">
          <div class="image-hover">
            <p class="title">Brigsby Bear</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Movie Night Miami</p>
            <p class="is-size-7">
              <strong>Heading</strong><br>
              This is words
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
              <li><a href="#" target="_blank">Layered Files</a></li>
            </ul>
          </div>
        </div>
      </div>



      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/Brooklynite.png)">
          <div class="image-hover">
            <p class="title">Brooklynite</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Brooklynite: Off-Broadway</p>
            <p class="is-size-7">
              <strong>Heading</strong><br>
              This is words
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Collaborators:</strong></li>
              <li><a href="http://bashanaquartdesign.com/" target="_blank">Bashan Aquart</a></li>
            </ul>
            <br>
            <ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/Bronco1.png)">
          <div class="image-hover">
            <p class="title">Bronco Stampede</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Chevy Bronco Stampede</p>
            <p class="is-size-7">
              <strong>Heading</strong><br>
              This is words
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/Bronco3.png)">
          <div class="image-hover">
            <p class="title">Bronco Stampede</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Chevy Bronco Stampede</p>
            <p class="is-size-7">
              <strong>Heading</strong><br>
              This is words
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/Bronco5.png)">
          <div class="image-hover">
            <p class="title">Bronco Stampede</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Chevy Bronco Stampede</p>
            <p class="is-size-7">
              <strong>Heading</strong><br>
              This is words
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/Bronco6.png)">
          <div class="image-hover">
            <p class="title">Bronco Stampede</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Chevy Bronco Stampede</p>
            <p class="is-size-7">
              <strong>Heading</strong><br>
              This is words
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/Bronco2.png)">
          <div class="image-hover">
            <p class="title">Bronco <br> Off-Rodeo</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Chevy Bronco Off-Rodeo</p>
            <p class="is-size-7">
              <strong>Heading</strong><br>
              This is words
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/Bronco4.png)">
          <div class="image-hover">
            <p class="title">Bronco <br> Off-Rodeo</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Chevy Bronco Off-Rodeo</p>
            <p class="is-size-7">
              <strong>Heading</strong><br>
              This is words
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/LesMiz1.png)">
          <div class="image-hover">
            <p class="title">Les Miz</p>
              <p class="subtitle is-size-6"><strong>Series:</strong>Les Misérables</p>
              <p class="is-size-7">
                <strong>Heading</strong><br>
                This is words
              </p>
              <br>
              <ul class="is-size-7">
                <li><strong>Collaborators:</strong></li>
                <li><a href="https://www.behance.net/claytonjones" target="_blank">Clayton Jones</a></li>
                <li><a href="http://bashanaquartdesign.com/" target="_blank">Bashan Aquart</a></li>
              </ul>
              <br>
              <ul class="is-size-7">
                <li><strong>Additional Files:</strong></li>
                <li><a href="#" target="_blank">High Resolution</a></li>
              </ul>
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/LesMiz2.png)">
          <div class="image-hover">
            <p class="title">Les Miz</p>
              <p class="subtitle is-size-6"><strong>Series:</strong>Les Misérables</p>
              <p class="is-size-7">
                <strong>Heading</strong><br>
                This is words
              </p>
              <br>
              <ul class="is-size-7">
                <li><strong>Collaborators:</strong></li>
                <li><a href="https://www.behance.net/claytonjones" target="_blank">Clayton Jones</a></li>
                <li><a href="http://bashanaquartdesign.com/" target="_blank">Bashan Aquart</a></li>
              </ul>
              <br>
              <ul class="is-size-7">
                <li><strong>Additional Files:</strong></li>
                <li><a href="#" target="_blank">High Resolution</a></li>
              </ul>
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/LesMiz3.png)">
          <div class="image-hover">
            <p class="title">Les Miz</p>
              <p class="subtitle is-size-6"><strong>Series:</strong>Les Misérables</p>
              <p class="is-size-7">
                <strong>Heading</strong><br>
                This is words
              </p>
              <br>
              <ul class="is-size-7">
                <li><strong>Collaborators:</strong></li>
                <li><a href="https://www.behance.net/claytonjones" target="_blank">Clayton Jones</a></li>
                <li><a href="http://bashanaquartdesign.com/" target="_blank">Bashan Aquart</a></li>
              </ul>
              <br>
              <ul class="is-size-7">
                <li><strong>Additional Files:</strong></li>
                <li><a href="#" target="_blank">High Resolution</a></li>
              </ul>
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/LesMiz4.png)">
          <div class="image-hover">
            <p class="title">Les Miz</p>
              <p class="subtitle is-size-6"><strong>Series:</strong>Les Misérables</p>
              <p class="is-size-7">
                <strong>Heading</strong><br>
                This is words
              </p>
              <br>
              <ul class="is-size-7">
                <li><strong>Collaborators:</strong></li>
                <li><a href="https://www.behance.net/claytonjones" target="_blank">Clayton Jones</a></li>
                <li><a href="http://bashanaquartdesign.com/" target="_blank">Bashan Aquart</a></li>
              </ul>
              <br>
              <ul class="is-size-7">
                <li><strong>Additional Files:</strong></li>
                <li><a href="#" target="_blank">High Resolution</a></li>
              </ul>
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/LesMiz5.png)">
          <div class="image-hover">
            <p class="title">Les Miz</p>
              <p class="subtitle is-size-6"><strong>Series:</strong>Les Misérables</p>
              <p class="is-size-7">
                <strong>Heading</strong><br>
                This is words
              </p>
              <br>
              <ul class="is-size-7">
                <li><strong>Collaborators:</strong></li>
                <li><a href="https://www.behance.net/claytonjones" target="_blank">Clayton Jones</a></li>
                <li><a href="http://bashanaquartdesign.com/" target="_blank">Bashan Aquart</a></li>
              </ul>
              <br>
              <ul class="is-size-7">
                <li><strong>Additional Files:</strong></li>
                <li><a href="#" target="_blank">High Resolution</a></li>
              </ul>
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/LesMiz6.png)">
          <div class="image-hover">
            <p class="title">Les Miz</p>
              <p class="subtitle is-size-6"><strong>Series:</strong>Les Misérables</p>
              <p class="is-size-7">
                <strong>Heading</strong><br>
                This is words
              </p>
              <br>
              <ul class="is-size-7">
                <li><strong>Collaborators:</strong></li>
                <li><a href="https://www.behance.net/claytonjones" target="_blank">Clayton Jones</a></li>
                <li><a href="http://bashanaquartdesign.com/" target="_blank">Bashan Aquart</a></li>
              </ul>
              <br>
              <ul class="is-size-7">
                <li><strong>Additional Files:</strong></li>
                <li><a href="#" target="_blank">High Resolution</a></li>
              </ul>
          </div>
        </div>
      </div>

      <div class="column is-one-third">
      <div class="image-wrapper" style="background-image: url(/images/posters/Diner1.png)">
        <div class="image-hover">
          <p class="title">Diner Sign</p>
            <p class="subtitle is-size-6"><strong>Series:</strong>Diner</p>
            <p class="is-size-7">
              <strong>Heading</strong><br>
              This is words
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Collaborators:</strong></li>
              <li><a href="https://www.behance.net/claytonjones" target="_blank">Clayton Jones</a></li>
              <li><a href="https://www.robschnabel.com/" target="_blank">Rob Schnabel</a></li>
            </ul>
            <br>
            <ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>
        </div>
      </div>
    </div>

    <div class="column is-one-third">
      <div class="image-wrapper" style="background-image: url(/images/posters/Diner2.png)">
        <div class="image-hover">
          <p class="title">Diner Sign</p>
            <p class="subtitle is-size-6"><strong>Series:</strong>Diner</p>
            <p class="is-size-7">
              <strong>Heading</strong><br>
              This is words
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Collaborators:</strong></li>
              <li><a href="https://www.behance.net/claytonjones" target="_blank">Clayton Jones</a></li>
              <li><a href="https://www.robschnabel.com/" target="_blank">Rob Schnabel</a></li>
            </ul>
            <br>
            <ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>
        </div>
      </div>
    </div>

    <div class="column is-one-third">
      <div class="image-wrapper" style="background-image: url(/images/posters/Brooklynite2.png)">
        <div class="image-hover">
          <p class="title">Brooklynite Alt</p>
            <p class="subtitle is-size-6"><strong>Series:</strong>Brooklynite</p>
            <p class="is-size-7">
              <strong>Heading</strong><br>
              This is words
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Collaborators:</strong></li>
              <li><a href="http://bashanaquartdesign.com/" target="_blank">Bashan Aquart</a></li>
            </ul>
            <br>
            <ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>
        </div>
      </div>
    </div>

    <div class="column is-one-third">
      <div class="image-wrapper" style="background-image: url(/images/posters/IOAP1.png)">
        <div class="image-hover">
          <p class="title">IOAP Poster</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> It&apos;s Only a Play</p>
            <p class="is-size-7">
              <strong>Heading</strong><br>
              This is words
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Collaborators:</strong></li>
              <li><a href="http://bashanaquartdesign.com/" target="_blank">Bashan Aquart</a></li>
            </ul>
            <br>
            <ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>
        </div>
      </div>
    </div>

    <div class="column is-one-third">
    <div class="image-wrapper" style="background-image: url(/images/posters/IOAP2.png)">
      <div class="image-hover">
        <p class="title">IOAP Poster</p>
          <p class="subtitle is-size-6"><strong>Series:</strong> It&apos;s Only a Play</p>
          <p class="is-size-7">
            <strong>Heading</strong><br>
            This is words
          </p>
          <br>
          <ul class="is-size-7">
            <li><strong>Collaborators:</strong></li>
            <li><a href="http://bashanaquartdesign.com/" target="_blank">Bashan Aquart</a></li>
          </ul>
          <br>
          <ul class="is-size-7">
            <li><strong>Additional Files:</strong></li>
            <li><a href="#" target="_blank">High Resolution</a></li>
          </ul>
      </div>
    </div>
  </div>

      <div class="column is-one-third">
      <div class="image-wrapper" style="background-image: url(/images/posters/IOAP3.png)">
        <div class="image-hover">
          <p class="title">IOAP Poster</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> It&apos;s Only a Play</p>
            <p class="is-size-7">
              <strong>Heading</strong><br>
              This is words
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Collaborators:</strong></li>
              <li><a href="http://bashanaquartdesign.com/" target="_blank">Bashan Aquart</a></li>
            </ul>
            <br>
            <ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>
        </div>
      </div>
    </div>

     <div class="column is-one-third">
      <div class="image-wrapper" style="background-image: url(/images/posters/HtG1.png)">
        <div class="image-hover">
          <p class="title">Hand To God</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Hand To God</p>
            <p class="is-size-7">
              <strong>Heading</strong><br>
              This is words
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Collaborators:</strong></li>
              <li><a href="https://rosana-iarusso.squarespace.com/" target="_blank">Rosana Iarusso</a></li>
              <li><a href="http://bashanaquartdesign.com/" target="_blank">Bashan Aquart</a></li>
            </ul>
            <br>
            <ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>
        </div>
      </div>
    </div>

    <div class="column is-one-third">
      <div class="image-wrapper" style="background-image: url(/images/posters/HtG2.png)">
        <div class="image-hover">
          <p class="title">Hand To God</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Hand To God</p>
            <p class="is-size-7">
              <strong>Heading</strong><br>
              This is words
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Collaborators:</strong></li>
              <li><a href="https://rosana-iarusso.squarespace.com/" target="_blank">Rosana Iarusso</a></li>
              <li><a href="http://bashanaquartdesign.com/" target="_blank">Bashan Aquart</a></li>
            </ul>
            <br>
            <ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>
        </div>
      </div>
    </div>

    <div class="column is-one-third">
      <div class="image-wrapper" style="background-image: url(/images/posters/HtG3.png)">
        <div class="image-hover">
          <p class="title">Hand To God</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Hand To God</p>
            <p class="is-size-7">
              <strong>Heading</strong><br>
              This is words
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Collaborators:</strong></li>
              <li><a href="https://rosana-iarusso.squarespace.com/" target="_blank">Rosana Iarusso</a></li>
              <li><a href="http://bashanaquartdesign.com/" target="_blank">Bashan Aquart</a></li>
            </ul>
            <br>
            <ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>
        </div>
      </div>
    </div>

    <div class="column is-one-third">
      <div class="image-wrapper" style="background-image: url(/images/posters/NewGroup.png)">
        <div class="image-hover">
          <p class="title">Brand Refresh Poster</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> The New Group</p>
            <p class="is-size-7">
              <strong>Heading</strong><br>
              This is words
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Collaborators:</strong></li>
              <li><a href="http://bashanaquartdesign.com/" target="_blank">Bashan Aquart</a></li>
            </ul>
            <br>
            <ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>
        </div>
      </div>
    </div>

    <div class="column is-one-third">
      <div class="image-wrapper" style="background-image: url(/images/posters/SticksBones.png)">
        <div class="image-hover">
          <p class="title">Sticks and Bones</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> The New Group</p>
            <p class="is-size-7">
              <strong>Heading</strong><br>
              This is words
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Collaborators:</strong></li>
              <li><a href="http://bashanaquartdesign.com/" target="_blank">Bashan Aquart</a></li>
            </ul>
            <br>
            <ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>
        </div>
      </div>
    </div>

    <div class="column is-one-third">
      <div class="image-wrapper" style="background-image: url(/images/posters/Rasheeda.png)">
        <div class="image-hover">
          <p class="title">Rasheeda Speaking</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> The New Group</p>
            <p class="is-size-7">
              <strong>Heading</strong><br>
              This is words
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Collaborators:</strong></li>
              <li><a href="https://rosana-iarusso.squarespace.com/" target="_blank">Rosana Iarusso</a></li>
              <li><a href="http://bashanaquartdesign.com/" target="_blank">Bashan Aquart</a></li>
            </ul>
            <br>
            <ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>
        </div>
      </div>
    </div>

    <div class="column is-one-third">
      <div class="image-wrapper" style="background-image: url(/images/posters/BillyRay1.png)">
        <div class="image-hover">
          <p class="title">Billy and Ray</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Vinyard Theatre</p>
            <p class="is-size-7">
              <strong>Heading</strong><br>
              This is words
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Collaborators:</strong></li>
              <li><a href="https://www.robschnabel.com/" target="_blank">Rob Schnabel</a></li>
            </ul>
            <br>
            <ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>
        </div>
      </div>
    </div>

    <div class="column is-one-third">
      <div class="image-wrapper" style="background-image: url(/images/posters/BillyRay2.png)">
        <div class="image-hover">
          <p class="title">Billy and Ray Alt</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Vinyard Theatre</p>
            <p class="is-size-7">
              <strong>Heading</strong><br>
              This is words
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Collaborators:</strong></li>
              <li><a href="https://www.robschnabel.com/" target="_blank">Rob Schnabel</a></li>
            </ul>
            <br>
            <ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>
        </div>
      </div>
    </div>

    <div class="column is-one-third">
      <div class="image-wrapper" style="background-image: url(/images/posters/Once.png)">
        <div class="image-hover">
          <p class="title">Once</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Once</p>
            <p class="is-size-7">
              <strong>Heading</strong><br>
              This is words
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Collaborators:</strong></li>
              <li><a href="https://www.robschnabel.com/" target="_blank">Rob Schnabel</a></li>
              <li><a href="http://bashanaquartdesign.com/" target="_blank">Bashan Aquart</a></li>
            </ul>
            <br>
            <ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>
        </div>
      </div>
    </div>

    
    



      

    </div>

  </div>
</section>
