---
title: Posters
---

<section class="section">
  <div class="container">

    <div class="columns is-mobile is-multiline">

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/akira.png)">
          <div class="image-hover">
            <p class="title">Akira Poster</p>
            <p class="subtitle is-size-7"><strong>Series:</strong> Movie Night Miami</p>
            <p class="is-size-7">
              <strong>Heading</strong><br>
              <%= lorem.paragraph %>
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Collaborators:</strong></li>
              <li><a href="#" target="_blank">Clickable Name Link</a></li>
              <li><a href="#" target="_blank">Clickable Name Link</a></li>
              <li><a href="#" target="_blank">Clickable Name Link</a></li>
            </ul>
            <br>
            <ul class="is-size-7">
              <li><strong>Source Files:</strong></li>
              <li><a href="#" target="_blank">Clickable Download Link</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/sample.png)">
          <div class="image-hover">
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/sample.png)">
          <div class="image-hover">
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/sample.png)">
          <div class="image-hover">
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/sample.png)">
          <div class="image-hover">
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/sample.png)">
          <div class="image-hover">
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/sample.png)">
          <div class="image-hover">
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/sample.png)">
          <div class="image-hover">
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/sample.png)">
          <div class="image-hover">
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/sample.png)">
          <div class="image-hover">
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/sample.png)">
          <div class="image-hover">
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/sample.png)">
          <div class="image-hover">
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/sample.png)">
          <div class="image-hover">
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/sample.png)">
          <div class="image-hover">
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/sample.png)">
          <div class="image-hover">
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/sample.png)">
          <div class="image-hover">
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/sample.png)">
          <div class="image-hover">
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/sample.png)">
          <div class="image-hover">
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/sample.png)">
          <div class="image-hover">
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/sample.png)">
          <div class="image-hover">
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/sample.png)">
          <div class="image-hover">
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/sample.png)">
          <div class="image-hover">
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/sample.png)">
          <div class="image-hover">
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/sample.png)">
          <div class="image-hover">
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
