---
title: Elliot Erwin
---

<section class="section">
  <div class="container">

    <div class="columns is-multiline">

      <div class="column is-one-third">
        <% image "/images/posters/akira.png" do %>
            <p class="title">Akira Poster</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Movie Night Miami</p>
            <p class="posterinfo is-size-7">
              Katsuhiro Otomo’s 1988 film Akira has always been an inspirational work of art for me. I found it when was too young to understand its complexity but countless re-watchings have helped shape who I am today. Naturally I was eager to share it with the Movie Night Miami crew as its themes of corrupt militaristic government and losing humanity in the favor of technology as relevant today as in 1988.
<br><br>
This poster was a labor of love but through the source files you’ll get a very hernest view of how bad I am at C4D and how weird my process is.
            </p>
            <br>
            <!--<ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
              <li><a href="#" target="_blank">Layered Files</a></li>
            </ul>-->
        <% end %>
      </div>

      <div class="column is-one-third">
        <% image "/images/posters/Vibes.png" do %>
            <p class="title">Vibes</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Movie Night Miami</p>
            <p class="is-size-7">
              Vibes stars Jeff Goldblum and Cyndi Lauper as psychics who have to travel to Ecuador to find the lost city of gold. It was awful, absurd, and absolutely perfect for Movie Night Miami.
              <br><br>
As for the poster, my goal was to represent the vast quantity of the unsold Vibes VHS tapes in a Blockbuster liquidation bin.
            </p>
            <br>
            <!--<ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
              <li><a href="#" target="_blank">Layered Files</a></li>
            </ul>-->
        <% end %>
      </div>

      <div class="column is-one-third">
        <% image "/images/posters/LostBoys.png" do %>
            <p class="title">The Lost Boys</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Movie Night Miami</p>
            <p class="is-size-7">
              The Lost Boys is arguably one of the more iconic films of the 80’s. From story to art direction to having two Coreys, Lost Boy defined an era. 
            <br><br>
This poster was heavily inspired by the works of 80s retro designer James White. The box art is fucking badass and I cant find who the artist was but I wanted to share it with people.
            </p>
            <br>
            <!--<ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
              <li><a href="#" target="_blank">Layered Files</a></li>
            </ul>-->
        <% end %>
      </div>

      <div class="column is-one-third">
        <% image "/images/posters/LiquidSky.png" do %>
            <p class="title">Liquid Sky</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Movie Night Miami</p>
            <p class="is-size-7">
              Liquidsky is heroin fueled artistic gem from 1982 that mixes sex, drugs and sci-fi. Go watch it. <br><br> ME AND MY RYTHEM BOX.
            </p>
            <br>
            <!--<ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
              <li><a href="#" target="_blank">Layered Files</a></li>
            </ul>-->
        <% end %>
      </div>

      <div class="column is-one-third">
        <% image "/images/posters/Brigsby.png" do %>
            <p class="title">Brigsby Bear</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Movie Night Miami</p>
            <p class="is-size-7">
              Brigsby Bear is one of my favorite movies of the decade. Kyle Mooney’s performance with Dave McCary’s directorial debut coalesce into an earnest and beautiful experience. And then wham in comes Andy Eklund with fire art direction, art directors are bad ass. 
            <br><br>
This was the first Movie Night Miami and with it the first poster. For me, it doesn’t represent high skill or great ideas but the start of something important. Also making gradient type is fun!
            </p>
            <br>
            <!--<ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
              <li><a href="#" target="_blank">Layered Files</a></li>
            </ul>-->
        <% end %>
      </div>

      <div class="column is-one-third">
        <% image "/images/posters/Brooklynite.png" do %>
            <p class="title">Brooklynite</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Brooklynite: Off-Broadway</p>
            <p class="is-size-7">
              Brooklynite was a fun off-broadway play about a city kid who meets a super hero and tries to become one. For the poster we felt a mixture of gritty city and campy old school comic book elements was the way to go. Quick fun project with a quick fun shoot. 
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Collaborators:</strong></li>
              <li><a href="http://bashanaquartdesign.com/" target="_blank">Bashan Aquart</a></li>
            </ul>
            <br>
            <!--<ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>-->
        <% end %>
      </div>

      <div class="column is-one-third">
        <% image "/images/posters/Brooklynite2.png" do %>
            <p class="title">Brooklynite Alt</p>
              <p class="subtitle is-size-6"><strong>Series:</strong> Brooklynite</p>
              <p class="is-size-7">
                This was an alt we liked a lot but ultimately wasn't made.
              </p>
              <br>
              <ul class="is-size-7">
                <li><strong>Collaborators:</strong></li>
                <li><a href="http://bashanaquartdesign.com/" target="_blank">Bashan Aquart</a></li>
              </ul>
              <br>
              <!--<ul class="is-size-7">
                <li><strong>Additional Files:</strong></li>
                <li><a href="#" target="_blank">High Resolution</a></li>
              </ul>-->
        <% end %>
      </div>

      <div class="column is-one-third">
      <% image "/images/posters/Diner1.png" do %>
          <p class="title">Diner Neon</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Diner</p>
            <p class="is-size-7">
              These two posters were such a treat to make. I received a 2x3 quick sketch from Clayton Jones and was tasked with bringing them to life in 3D. This project will always hold a special place for me as it introduced me to some stellar designers and people.
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Collaborators:</strong></li>
              <li><a href="https://www.behance.net/claytonjones" target="_blank">Clayton Jones</a></li>
              <li><a href="https://www.robschnabel.com/" target="_blank">Rob Schnabel</a></li>
            </ul>
            <br>
            <!--<ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>-->
      <% end %>
    </div>

    <div class="column is-one-third">
      <% image "/images/posters/Diner2.png" do %>
          <p class="title">Diner Neon</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Diner</p>
            <p class="is-size-7">
              These two posters were such a treat to make. I received a 2x3 quick sketch from Clayton Jones and was tasked with bringing them to life in 3D. This project will always hold a special place for me as it introduced me to some stellar designers and people.
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Collaborators:</strong></li>
              <li><a href="https://www.behance.net/claytonjones" target="_blank">Clayton Jones</a></li>
              <li><a href="https://www.robschnabel.com/" target="_blank">Rob Schnabel</a></li>
            </ul>
            <br>
            <!--<ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>-->
      <% end %>
    </div>

      <div class="column is-one-third">
        <% image "/images/posters/Bronco1.png" do %>
            <p class="title">Bronco Stampede</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Chevy Bronco Stampede</p>
            <p class="is-size-7">
              This project for a Ford Bronco pitch is one of my favorite types of briefs, “Hey go make whatever you want just give us some options.” And so I made like 15 posters only some of which represented here. 
            </p>
            <br>
            <!--<ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>-->
        <% end %>
      </div>

      <div class="column is-one-third">
        <% image "/images/posters/Bronco3.png" do %>
            <p class="title">Bronco Stampede</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Chevy Bronco Stampede</p>
            <p class="is-size-7">
              This poster was inspired by old WPA style travel posters. 
            </p>
            <br>
            <!--<ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>-->
        <% end %>
      </div>

      <!--<div class="column is-one-third">
        <% image "/images/posters/Bronco6.png" do %>
            <p class="title">Bronco Stampede</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Chevy Bronco Stampede</p>
            <p class="is-size-7">
              As part of this event, Bronco owners would have the opportunity to camp out in Colorado as part of two day expedition. 
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>
        <% end %>
      </div>-->

      <div class="column is-one-third">
        <% image "/images/posters/Bronco2.png" do %>
            <p class="title">Bronco <br> Off-Rodeo</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Chevy Bronco Off-Rodeo</p>
            <p class="is-size-7">
              The typography of the Ford logo makes it one of the most beautiful and timeless logos. Combined with some sweet tire marks and an amazing piece of software called Mr. Retro this poster was 
              designed to mimic the grittiness and color bleeds of screen printing. 
            </p>
            <br>
            <!--<ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>-->
        <% end %>
      </div>

      <!--<div class="column is-one-third">
        <% image "/images/posters/Bronco4.png" do %>
            <p class="title">Bronco <br> Off-Rodeo</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Chevy Bronco Off-Rodeo</p>
            <p class="is-size-7">
              One idea that was floated was creating a patch as a tchotchke for attendees. This was an early attempt at integrating a patch design into the poster to create a cohesive look across the event. 
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>
        <% end %>
      </div>-->

      <div class="column is-one-third">
        <% image "/images/posters/MNT2.png" do %>
            <p class="title">Reyes:<br> The King</p>
              <p class="subtitle is-size-6"><strong>Series:</strong> Welsfargo MNT</p>
              <p class="is-size-7">
                Mexican sports fans are a passionate bunch to say the least, and like all passionate sports fan, they love to give their favorite players nicknames. To help amplify that tradition we created Loteria Cards, a Mexican card game with a distinctive art style, and designed posters for each player.
                <br><br>Our Illustrator Rosana Larusso did such an incredible job on these posters that people were literally ripping them off the walls to take them home.
              </p>
              <br>
              <ul class="is-size-7">
                <li><strong>Collaborators:</strong></li>
                <li><a href="https://rosana-iarusso.squarespace.com/" target="_blank">Rosana Iarusso</a></li>
                <li><a href="https://www.alexandermcmichael.com/" target="_blank">Alexander McMichael</a></li>
              </ul>
              <br>
              
        <% end %>
      </div>

      <div class="column is-one-third">
        <% image "/images/posters/MNT1.png" do %>
            <p class="title">The Batalla</p>
              <p class="subtitle is-size-6"><strong>Series:</strong> Welsfargo MNT</p>
              <p class="is-size-7">
                For Mexican futbol fans, The Batalla is one of the biggest events leading up to the all-important World Cup. As of late, this traditional showdown with The United States has only intensified due to recent…geo political dialogue.
                <br><br> So we created a viewing party that acted as an opportunity for MNT fans to come together and celebrate as a community. Complete with the foods,sounds and artwork of home.

              </p>
              <br>
              <ul class="is-size-7">
                <li><strong>Collaborators:</strong></li>
                <li><a href="https://rosana-iarusso.squarespace.com/" target="_blank">Rosana Iarusso</a></li>
                <li><a href="https://www.alexandermcmichael.com/" target="_blank">Alexander McMichael</a></li>
              </ul>
              <br>
              
        <% end %>
      </div>
      

      <div class="column is-one-third">
        <% image "/images/posters/MNT3.png" do %>
            <p class="title">Dos Santos: Two Saints</p>
              <p class="subtitle is-size-6"><strong>Series:</strong> Welsfargo MNT</p>
              <p class="is-size-7">
                Mexican sports fans are a passionate bunch to say the least, and like all passionate sports fan, they love to give their favorite players nicknames. To help amplify that tradition we created Loteria Cards, a Mexican card game with a distinctive art style, and designed posters for each player.
                <br><br>Our Illustrator Rosana Larusso did such an incredible job on these posters that people were literally ripping them off the walls to take them home.
              </p>
              <br>
              <ul class="is-size-7">
                <li><strong>Collaborators:</strong></li>
                <li><a href="https://rosana-iarusso.squarespace.com/" target="_blank">Rosana Iarusso</a></li>
                <li><a href="https://www.alexandermcmichael.com/" target="_blank">Alexander McMichael</a></li>
              </ul>
              <br>
              
        <% end %>
      </div>

      <div class="column is-one-third">
        <% image "/images/posters/microsoft_2.png" do %>
            <p class="title">Ideas <br>That Fly</p>
              <p class="subtitle is-size-6"><strong>Series:</strong> Microsoft Inspire</p>
              <p class="is-size-7">
                Microsoft Inspire, is a conference held annually were partner are shown Microsoft's products for the year ahead. Part Ted Talk part Bootcamp, they needed some iconography and signage that would inspire.
              </p>
              <br>
              <ul class="is-size-7">
                <li><strong>Collaborators:</strong></li>
                <li><a href="https://jamesadame.com/" target="_blank">James Adame</a></li>
              </ul>
              <br>
              
        <% end %>
      </div>

      <div class="column is-one-third">
        <% image "/images/posters/microsoft_3.png" do %>
            <p class="title">Iconography</p>
              <p class="subtitle is-size-6"><strong>Series:</strong> Microsoft Inspire</p>
              <p class="is-size-7">
                Microsoft Inspire, is a conference held annually were partner are shown Microsoft's products for the year ahead. Part Ted Talk part Bootcamp, they needed some iconography and signage that would inspire.
              </p>
              <br>
              <ul class="is-size-7">
                <li><strong>Collaborators:</strong></li>
                <li><a href="https://jamesadame.com/" target="_blank">James Adame</a></li>
              </ul>
              <br>
              
        <% end %>
      </div>
      

      <div class="column is-one-third">
        <% image "/images/posters/microsoft_1.png" do %>
            <p class="title">Lightning <br>in a Bottle</p>
              <p class="subtitle is-size-6"><strong>Series:</strong> Microsoft Inspire</p>
              <p class="is-size-7">
                Microsoft Inspire, is a conference held annually were partner are shown Microsoft's products for the year ahead. Part Ted Talk part Bootcamp, they needed some iconography and signage that would inspire.
              </p>
              <br>
              <ul class="is-size-7">
                <li><strong>Collaborators:</strong></li>
                <li><a href="https://jamesadame.com/" target="_blank">James Adame</a></li>
              </ul>
              <br>
              
        <% end %>
      </div>


      <div class="column is-one-third">
        <% image "/images/posters/LesMiz1.png" do %>
            <p class="title">Courfeyrac <br> and Marius</p>
              <p class="subtitle is-size-6"><strong>Series:</strong> Les Misérables</p>
              <p class="is-size-7">
                This series was a grind by Clayton Jones (he’s fucking good, hire him) and I. Ultimately we combined the illustrations of Les Miz’s original author Victor Hugo with a wild photoshoot with famed mono named photographer Platon to create this modern rebranding of an old classic.
              </p>
              <br>
              <ul class="is-size-7">
                <li><strong>Collaborators:</strong></li>
                <li><a href="https://www.behance.net/claytonjones" target="_blank">Clayton Jones</a></li>
                <li><a href="http://bashanaquartdesign.com/" target="_blank">Bashan Aquart</a></li>
              </ul>
              <br>
              <!--<ul class="is-size-7">
                <li><strong>Additional Files:</strong></li>
                <li><a href="#" target="_blank">High Resolution</a></li>
              </ul>-->
        <% end %>
      </div>

      <div class="column is-one-third">
        <% image "/images/posters/LesMiz2.png" do %>
            <p class="title">Courfeyrac</p>
              <p class="subtitle is-size-6"><strong>Series:</strong> Les Misérables</p>
              <p class="is-size-7">
                This series was a grind by Clayton Jones (he’s fucking good, hire him) and I. Ultimately we combined the illustrations of Les Miz’s original author Victor Hugo with a wild photoshoot with famed mono named photographer Platon to create this modern rebranding of an old classic.
              </p>
              <br>
              <ul class="is-size-7">
                <li><strong>Collaborators:</strong></li>
                <li><a href="https://www.behance.net/claytonjones" target="_blank">Clayton Jones</a></li>
                <li><a href="http://bashanaquartdesign.com/" target="_blank">Bashan Aquart</a></li>
              </ul>
              <br>
              <!--<ul class="is-size-7">
                <li><strong>Additional Files:</strong></li>
                <li><a href="#" target="_blank">High Resolution</a></li>
              </ul>-->
        <% end %>
      </div>

      <div class="column is-one-third">
        <% image "/images/posters/LesMiz3.png" do %>
            <p class="title">Valjean <br>and Cosette</p>
              <p class="subtitle is-size-6"><strong>Series:</strong> Les Misérables</p>
              <p class="is-size-7">
                This series was a grind by Clayton Jones (he’s fucking good, hire him) and I. Ultimately we combined the illustrations of Les Miz’s original author Victor Hugo with a wild photoshoot with famed mono named photographer Platon to create this modern rebranding of an old classic.
              </p>
              <br>
              <ul class="is-size-7">
                <li><strong>Collaborators:</strong></li>
                <li><a href="https://www.behance.net/claytonjones" target="_blank">Clayton Jones</a></li>
                <li><a href="http://bashanaquartdesign.com/" target="_blank">Bashan Aquart</a></li>
              </ul>
              <br>
              <!--<ul class="is-size-7">
                <li><strong>Additional Files:</strong></li>
                <li><a href="#" target="_blank">High Resolution</a></li>
              </ul>-->
        <% end %>
      </div>

      <!--<div class="column is-one-third">
        <% image "/images/posters/LesMiz4.png" do %>
            <p class="title">Marius <br>and Cosette</p>
              <p class="subtitle is-size-6"><strong>Series:</strong> Les Misérables</p>
              <p class="is-size-7">
                This series was a grind by Clayton Jones (he’s fucking good, hire him) and I. Ultimately we combined the illustrations of Les Miz’s original author Victor Hugo with a wild photoshoot with famed mono named photographer Platon to create this modern rebranding of an old classic.
              </p>
              <br>
              <ul class="is-size-7">
                <li><strong>Collaborators:</strong></li>
                <li><a href="https://www.behance.net/claytonjones" target="_blank">Clayton Jones</a></li>
                <li><a href="http://bashanaquartdesign.com/" target="_blank">Bashan Aquart</a></li>
              </ul>
              <br>
              <ul class="is-size-7">
                <li><strong>Additional Files:</strong></li>
                <li><a href="#" target="_blank">High Resolution</a></li>
              </ul>
        <% end %>
      </div>-->

      <!--<div class="column is-one-third">
        <% image "/images/posters/LesMiz5.png" do %>
            <p class="title">Javert</p>
              <p class="subtitle is-size-6"><strong>Series:</strong> Les Misérables</p>
              <p class="is-size-7">
                This series was a grind by Clayton Jones (he’s fucking good, hire him) and I. Ultimately we combined the illustrations of Les Miz’s original author Victor Hugo with a wild photoshoot with famed mono named photographer Platon to create this modern rebranding of an old classic.
              </p>
              <br>
              <ul class="is-size-7">
                <li><strong>Collaborators:</strong></li>
                <li><a href="https://www.behance.net/claytonjones" target="_blank">Clayton Jones</a></li>
                <li><a href="http://bashanaquartdesign.com/" target="_blank">Bashan Aquart</a></li>
              </ul>
              <br>
              <ul class="is-size-7">
                <li><strong>Additional Files:</strong></li>
                <li><a href="#" target="_blank">High Resolution</a></li>
              </ul>
        <% end %>
      </div>-->

      <!--<div class="column is-one-third">
        <% image "/images/posters/LesMiz6.png" do %>
            <p class="title">Cosette</p>
              <p class="subtitle is-size-6"><strong>Series:</strong> Les Misérables</p>
              <p class="is-size-7">
                This series was a grind by Clayton Jones (he’s fucking good, hire him) and I. Ultimately we combined the illustrations of Les Miz’s original author Victor Hugo with a wild photoshoot with famed mono named photographer Platon to create this modern rebranding of an old classic.
              </p>
              <br>
              <ul class="is-size-7">
                <li><strong>Collaborators:</strong></li>
                <li><a href="https://www.behance.net/claytonjones" target="_blank">Clayton Jones</a></li>
                <li><a href="http://bashanaquartdesign.com/" target="_blank">Bashan Aquart</a></li>
              </ul>
              <br>
              <ul class="is-size-7">
                <li><strong>Additional Files:</strong></li>
                <li><a href="#" target="_blank">High Resolution</a></li>
              </ul>
        <% end %>
      </div>-->

      <!--<div class="column is-one-third">
        <% image "/images/posters/LesMiz7.jpg" do %>
            <p class="title">Valjean</p>
              <p class="subtitle is-size-6"><strong>Series:</strong> Les Misérables</p>
              <p class="is-size-7">
                This series was a grind by Clayton Jones (he’s fucking good, hire him) and I. Ultimately we combined the illustrations of Les Miz’s original author Victor Hugo with a wild photoshoot with famed mono named photographer Platon to create this modern rebranding of an old classic.
              </p>
              <br>
              <ul class="is-size-7">
                <li><strong>Collaborators:</strong></li>
                <li><a href="https://www.behance.net/claytonjones" target="_blank">Clayton Jones</a></li>
                <li><a href="http://bashanaquartdesign.com/" target="_blank">Bashan Aquart</a></li>
              </ul>
              <br>
              <ul class="is-size-7">
                <li><strong>Additional Files:</strong></li>
                <li><a href="#" target="_blank">High Resolution</a></li>
              </ul>
        <% end %>
      </div>-->

      

      

    <div class="column is-one-third">
      <% image "/images/posters/IOAP1.png" do %>
          <p class="title">Front Of House</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> It&apos;s Only a Play</p>
            <p class="is-size-7">
              Such a cool (and illuminating) experience working with all of these big name acting professionals. We did a big shoot with F. Scott Schafer created some really stellar photography and then I designed and built an entire alphabet of 3D letters. 
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Collaborators:</strong></li>
              <li><a href="http://bashanaquartdesign.com/" target="_blank">Bashan Aquart</a></li>
            </ul>
            <br>
            <!--<ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>-->
      <% end %>
    </div>

    <div class="column is-one-third">
      <% image "/images/posters/IOAP2.png" do %>
          <p class="title">One Sheet</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> It&apos;s Only a Play</p>
            <p class="is-size-7">
              After the release of a play and the reviews come out you typically create a one sheet in various publications. This one allowed us to use a lot of the custom typeface I created. 
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Collaborators:</strong></li>
              <li><a href="http://bashanaquartdesign.com/" target="_blank">Bashan Aquart</a></li>
            </ul>
            <br>
            <!--<ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>-->
      <% end %>
    </div>

    <div class="column is-one-third">
      <% image "/images/posters/IOAP3.png" do %>
          <p class="title">Key Art</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> It&apos;s Only a Play</p>
            <p class="is-size-7">
              Alternative version of our keyart. One really interesting thing I learned is that the stars names had to be minimum 50% of the title so keeping the names small to fit them meant we had a tiny title. 
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Collaborators:</strong></li>
              <li><a href="http://bashanaquartdesign.com/" target="_blank">Bashan Aquart</a></li>
            </ul>
            <br>
            <!--<ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>-->
      <% end %>
    </div>

     <div class="column is-one-third">
      <% image "/images/posters/HtG1.png" do %>
          <p class="title">Hand To God</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Hand To God</p>
            <p class="is-size-7">
              What a ridiculous show and great creative direction. Working Rosana Iarusso we created something like 30 ads all lampooning other big shows all from the perspective of a cheeky sock puppet possessed by the devil.
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Collaborators:</strong></li>
              <li><a href="https://rosana-iarusso.squarespace.com/" target="_blank">Rosana Iarusso</a></li>
              <li><a href="http://bashanaquartdesign.com/" target="_blank">Bashan Aquart</a></li>
            </ul>
            <br>
            <!--<ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>-->
      <% end %>
    </div>

    <div class="column is-one-third">
      <% image "/images/posters/HtG2.png" do %>
          <p class="title">Key Art</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Hand To God</p>
            <p class="is-size-7">
              This was the main keyart for the show. It was a really rough and ready shoot but with lesser known cast meant we could actually shoot them together instead of comping 6 stars together (see IOAP).
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Collaborators:</strong></li>
              <li><a href="https://rosana-iarusso.squarespace.com/" target="_blank">Rosana Iarusso</a></li>
              <li><a href="http://bashanaquartdesign.com/" target="_blank">Bashan Aquart</a></li>
            </ul>
            <br>
            <!--<ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>-->
      <% end %>
    </div>

    <div class="column is-one-third">
      <% image "/images/posters/HtG3.png" do %>
          <p class="title">Parody Ad</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Hand To God</p>
            <p class="is-size-7">
              At the time, the hottest show in town (and rightly so) was The Curious Incident of the Dog in the Night-Time.
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Collaborators:</strong></li>
              <li><a href="https://rosana-iarusso.squarespace.com/" target="_blank">Rosana Iarusso</a></li>
              <li><a href="http://bashanaquartdesign.com/" target="_blank">Bashan Aquart</a></li>
            </ul>
            <br>
            <!--<ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>-->
      <% end %>
    </div>

    <div class="column is-one-third">
      <% image "/images/posters/NewGroup.png" do %>
          <p class="title">Brand Refresh Poster</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> The New Group</p>
            <p class="is-size-7">
              The New Group is a small off off broadway theatre in NYC. Our challenge was a striking rebranding that including a style guide for how to produce artwork for their shows. We landed on high-contrast black in white imagery juxtapozed with a vibrant red type and logo locks.
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Collaborators:</strong></li>
              <li><a href="http://bashanaquartdesign.com/" target="_blank">Bashan Aquart</a></li>
            </ul>
            <br>
            <!--<ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>-->
      <% end %>
    </div>

    <div class="column is-one-third">
      <% image "/images/posters/SticksBones.png" do %>
          <p class="title">Sticks <br>and Bones</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> The New Group</p>
            <p class="is-size-7">
              This play focused on a soldier facing the challenges of returning to civilian life.
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Collaborators:</strong></li>
              <li><a href="http://bashanaquartdesign.com/" target="_blank">Bashan Aquart</a></li>
            </ul>
            <br>
            <!--<ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>-->
      <% end %>
    </div>

    <div class="column is-one-third">
      <% image "/images/posters/Rasheeda.png" do %>
          <p class="title">Rasheeda Speaking</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> The New Group</p>
            <p class="is-size-7">
              Fun fact, an alternative option I presented made Diane Weist cry, and not like in a goodway, so that felt terrible. All of the posters for The New Group were done low budget and were always a blast to work on.
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Collaborators:</strong></li>
              <li><a href="https://rosana-iarusso.squarespace.com/" target="_blank">Rosana Iarusso</a></li>
              <li><a href="http://bashanaquartdesign.com/" target="_blank">Bashan Aquart</a></li>
              <li><a href="https://www.behance.net/claytonjones" target="_blank">Clayton Jones</a></li>
            </ul>
            <br>
            <!--<ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>-->
      <% end %>
    </div>

    <div class="column is-one-third">
      <% image "/images/posters/BillyRay1.png" do %>
          <p class="title">Billy and Ray</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Vinyard Theatre</p>
            <p class="is-size-7">
              Rob Schnabel and I had a blast on these. He lead the charge and I facilitated with some typography work/3D renders and modeling (thats my body and with an old mans head on the right).
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Collaborators:</strong></li>
              <li><a href="https://www.robschnabel.com/" target="_blank">Rob Schnabel</a></li>
            </ul>
            <br>
            <!--<ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>-->
      <% end %>
    </div>

    <div class="column is-one-third">
      <% image "/images/posters/BillyRay2.png" do %>
          <p class="title">Billy and Ray Alt</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Vinyard Theatre</p>
            <p class="is-size-7">
              The play revolves around a detective fiction novelist hired to turn another authors murder myster into a film screenplay. Here we fully rendered celluloid window blinds with a 'Rear Window' vibe.
              Then Rob created some really beautiful noir inspired typography.
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Collaborators:</strong></li>
              <li><a href="https://www.robschnabel.com/" target="_blank">Rob Schnabel</a></li>
            </ul>
            <br>
            <!--<ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>-->
      <% end %>
    </div>

    <div class="column is-one-third">
      <% image "/images/posters/Once.png" do %>
          <p class="title">Once</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Once</p>
            <p class="is-size-7">
              Not a lot to say on this one. Wild experience, lots of retouching.
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Collaborators:</strong></li>
              <li><a href="https://www.robschnabel.com/" target="_blank">Rob Schnabel</a></li>
              <li><a href="http://bashanaquartdesign.com/" target="_blank">Bashan Aquart</a></li>
            </ul>
            <br>
            <!--<ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>-->
      <% end %>
    </div>

        <div class="column is-one-third">
          <% image "/images/posters/panasonic_1.png" do %>
          <p class="title">Panasonic</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Baby Smooth Shave</p>
            <p class="is-size-7">
              This silly project will always hold a special place in my heart. With a great concept from Lee Walters, I was tasked with bringing the idea that Panasonics new razors give you a 'Baby Smooth Shave' to life.
              Each one of the triptych aims to juxtapoze archetypal men with soft skinned babies.  
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Collaborators:</strong></li>
              <li><a href="https://arcanaacademy.com/" target="_blank">Lee Walters</a></li>
            </ul>
            <br>
            <!--<ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>-->
      <% end %>
    </div>

    <div class="column is-one-third">
      <% image "/images/posters/panasonic_2.png" do %>
          <p class="title">Panasonic</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Baby Smooth Shave</p>
            <p class="is-size-7">
              This silly project will always hold a special place in my heart. With a great concept from Lee Walters, I was tasked with bringing the idea that Panasonics new razors give you a 'Baby Smooth Shave' to life.
              Each one of the triptych aims to juxtapoze archetypal men with soft skinned babies.  
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Collaborators:</strong></li>
              <li><a href="https://arcanaacademy.com/" target="_blank">Lee Walters</a></li>
            </ul>
            <br>
            <!--<ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>-->
      <% end %>
    </div>

    <div class="column is-one-third">
      <% image "/images/posters/panasonic_3.png" do %>
          <p class="title">Panasonic</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Baby Smooth Shave</p>
            <p class="is-size-7">
              This silly project will always hold a special place in my heart. With a great concept from Lee Walters, I was tasked with bringing the idea that Panasonics new razors give you a 'Baby Smooth Shave' to life.
              Each one of the triptych aims to juxtapoze archetypal men with soft skinned babies.  
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Collaborators:</strong></li>
              <li><a href="https://arcanaacademy.com/" target="_blank">Lee Walters</a></li>
            </ul>
            <br>
            <!--<ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>-->
      <% end %>
    </div>

    </div>

  </div>
</section>
