---
title: Posters
---

<section class="section">
  <div class="container">

    <div class="columns is-mobile is-multiline">

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/akira.png)">
          <div class="image-hover">
            <p class="title">Akira Poster</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Movie Night Miami</p>
            <p class="posterinfo is-size-7">
              Katsuhiro Otomo’s 1988 film Akira has always been an inspirational work of art for me. I found it when was too young to understand its complexity but countless re-watchings have helped shape who I am today. Naturally I was eager to share it with the Movie Night Miami crew as its themes of corrupt militaristic government and losing humanity in the favor of technology as relevant today as in 1988.
<br><br>
This poster was a labor of love but through the source files you’ll get a very hernest view of how bad I am at C4D and how weird my process is.

            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
              <li><a href="#" target="_blank">Layered Files</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/Vibes.png)">
            <div class="image-hover">
            <p class="title">Vibes</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Movie Night Miami</p>
            <p class="is-size-7">
              Vibes stars Jeff Goldblum and Cyndi Lauper as psychics who have to travel to Ecuador to find the lost city of gold. It was awful, absurd, and absolutely perfect for Movie Night Miami.
              <br><br>
As for the poster, my goal was to represent the vast quantity of the unsold Vibes VHS tapes in a Blockbuster liquidation bin.

            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
              <li><a href="#" target="_blank">Layered Files</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/LostBoys.png)">
          <div class="image-hover">
            <p class="title">The Lost Boys</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Movie Night Miami</p>
            <p class="is-size-7">
              The Lost Boys is arguably one of the more iconic films of the 80’s. From story to art direction to having two Coreys, Lost Boy defined an era. 
            <br><br>
This poster was heavily inspired by the works of 80s retro designer James White. The box art is fucking badass and I cant find who the artist was but I wanted to share it with people.

            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
              <li><a href="#" target="_blank">Layered Files</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/LiquidSky.png)">
          <div class="image-hover">
            <p class="title">Liquid Sky</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Movie Night Miami</p>
            <p class="is-size-7">
              This movie is weird. Go watch it.
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
              <li><a href="#" target="_blank">Layered Files</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/Brigsby.png)">
          <div class="image-hover">
            <p class="title">Brigsby Bear</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Movie Night Miami</p>
            <p class="is-size-7">
              Brigsby Bear is one of my favorite movies of the decade. Kyle Mooney’s performance with Dave McCary’s directorial debut coalesce into an earnest and beautiful experience. And then wham in comes Andy Eklund with fire art direction, art directors are bad ass. 
            <br><br>
This was the first Movie Night Miami and with it the first poster. For me, it doesn’t represent high skill or great ideas but the start of something important. Also making gradient type is fun!

            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
              <li><a href="#" target="_blank">Layered Files</a></li>
            </ul>
          </div>
        </div>
      </div>



      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/Brooklynite.png)">
          <div class="image-hover">
            <p class="title">Brooklynite</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Brooklynite: Off-Broadway</p>
            <p class="is-size-7">
              Brooklynite was a fun off-broadway play about a city kid who meets a super hero and tries to become one. For the poster we felt a mixture of gritty city and campy old school comic book elements was the way to go. Quick fun project with a quick fun shoot. 
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Collaborators:</strong></li>
              <li><a href="http://bashanaquartdesign.com/" target="_blank">Bashan Aquart</a></li>
            </ul>
            <br>
            <ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/Brooklynite2.png)">
          <div class="image-hover">
            <p class="title">Brooklynite Alt</p>
              <p class="subtitle is-size-6"><strong>Series:</strong> Brooklynite</p>
              <p class="is-size-7">
                This was an alt we liked a lot but ultimately wasn't made.
              </p>
              <br>
              <ul class="is-size-7">
                <li><strong>Collaborators:</strong></li>
                <li><a href="http://bashanaquartdesign.com/" target="_blank">Bashan Aquart</a></li>
              </ul>
              <br>
              <ul class="is-size-7">
                <li><strong>Additional Files:</strong></li>
                <li><a href="#" target="_blank">High Resolution</a></li>
              </ul>
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/Bronco1.png)">
          <div class="image-hover">
            <p class="title">Bronco Stampede</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Chevy Bronco Stampede</p>
            <p class="is-size-7">
              This project for a Ford Bronco pitch is one of my favorite types of briefs, “Hey go make whatever you want just give us some options.” And so I made like 15 posters only some of which represented here. 
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/Bronco3.png)">
          <div class="image-hover">
            <p class="title">Bronco Stampede</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Chevy Bronco Stampede</p>
            <p class="is-size-7">
              This project for a Ford Bronco pitch is one of my favorite types of briefs, “Hey go make whatever you want just give us some options.” And so I made like 15 posters only some of which represented here. 
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>
          </div>
        </div>
      </div>



      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/Bronco6.png)">
          <div class="image-hover">
            <p class="title">Bronco Stampede</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Chevy Bronco Stampede</p>
            <p class="is-size-7">
              This project for a Ford Bronco pitch is one of my favorite types of briefs, “Hey go make whatever you want just give us some options.” And so I made like 15 posters only some of which represented here. 
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/Bronco2.png)">
          <div class="image-hover">
            <p class="title">Bronco <br> Off-Rodeo</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Chevy Bronco Off-Rodeo</p>
            <p class="is-size-7">
              This project for a Ford Bronco pitch is one of my favorite types of briefs, “Hey go make whatever you want just give us some options.” And so I made like 15 posters only some of which represented here. 
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/Bronco4.png)">
          <div class="image-hover">
            <p class="title">Bronco <br> Off-Rodeo</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Chevy Bronco Off-Rodeo</p>
            <p class="is-size-7">
              This project for a Ford Bronco pitch is one of my favorite types of briefs, “Hey go make whatever you want just give us some options.” And so I made like 15 posters only some of which represented here. 
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/LesMiz1.png)">
          <div class="image-hover">
            <p class="title">Courfeyrac <br> and Marius</p>
              <p class="subtitle is-size-6"><strong>Series:</strong> Les Misérables</p>
              <p class="is-size-7">
                This series was a grind by Clayton Jones (he’s fucking good, hire him) and I. Ultimately we combined the illustrations of Les Miz’s original author Victor Hugo with a wild photoshoot with famed mono named photographer Platon to create this modern rebranding of an old classic.
              </p>
              <br>
              <ul class="is-size-7">
                <li><strong>Collaborators:</strong></li>
                <li><a href="https://www.behance.net/claytonjones" target="_blank">Clayton Jones</a></li>
                <li><a href="http://bashanaquartdesign.com/" target="_blank">Bashan Aquart</a></li>
              </ul>
              <br>
              <ul class="is-size-7">
                <li><strong>Additional Files:</strong></li>
                <li><a href="#" target="_blank">High Resolution</a></li>
              </ul>
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/LesMiz2.png)">
          <div class="image-hover">
            <p class="title">Courfeyrac</p>
              <p class="subtitle is-size-6"><strong>Series:</strong> Les Misérables</p>
              <p class="is-size-7">
                This series was a grind by Clayton Jones (he’s fucking good, hire him) and I. Ultimately we combined the illustrations of Les Miz’s original author Victor Hugo with a wild photoshoot with famed mono named photographer Platon to create this modern rebranding of an old classic.
              </p>
              <br>
              <ul class="is-size-7">
                <li><strong>Collaborators:</strong></li>
                <li><a href="https://www.behance.net/claytonjones" target="_blank">Clayton Jones</a></li>
                <li><a href="http://bashanaquartdesign.com/" target="_blank">Bashan Aquart</a></li>
              </ul>
              <br>
              <ul class="is-size-7">
                <li><strong>Additional Files:</strong></li>
                <li><a href="#" target="_blank">High Resolution</a></li>
              </ul>
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/LesMiz3.png)">
          <div class="image-hover">
            <p class="title">Valjean <br>and Cosette</p>
              <p class="subtitle is-size-6"><strong>Series:</strong> Les Misérables</p>
              <p class="is-size-7">
                This series was a grind by Clayton Jones (he’s fucking good, hire him) and I. Ultimately we combined the illustrations of Les Miz’s original author Victor Hugo with a wild photoshoot with famed mono named photographer Platon to create this modern rebranding of an old classic.
              </p>
              <br>
              <ul class="is-size-7">
                <li><strong>Collaborators:</strong></li>
                <li><a href="https://www.behance.net/claytonjones" target="_blank">Clayton Jones</a></li>
                <li><a href="http://bashanaquartdesign.com/" target="_blank">Bashan Aquart</a></li>
              </ul>
              <br>
              <ul class="is-size-7">
                <li><strong>Additional Files:</strong></li>
                <li><a href="#" target="_blank">High Resolution</a></li>
              </ul>
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/LesMiz4.png)">
          <div class="image-hover">
            <p class="title">Marius <br>and Cosette</p>
              <p class="subtitle is-size-6"><strong>Series:</strong> Les Misérables</p>
              <p class="is-size-7">
                This series was a grind by Clayton Jones (he’s fucking good, hire him) and I. Ultimately we combined the illustrations of Les Miz’s original author Victor Hugo with a wild photoshoot with famed mono named photographer Platon to create this modern rebranding of an old classic.
              </p>
              <br>
              <ul class="is-size-7">
                <li><strong>Collaborators:</strong></li>
                <li><a href="https://www.behance.net/claytonjones" target="_blank">Clayton Jones</a></li>
                <li><a href="http://bashanaquartdesign.com/" target="_blank">Bashan Aquart</a></li>
              </ul>
              <br>
              <ul class="is-size-7">
                <li><strong>Additional Files:</strong></li>
                <li><a href="#" target="_blank">High Resolution</a></li>
              </ul>
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/LesMiz5.png)">
          <div class="image-hover">
            <p class="title">Javert</p>
              <p class="subtitle is-size-6"><strong>Series:</strong> Les Misérables</p>
              <p class="is-size-7">
                This series was a grind by Clayton Jones (he’s fucking good, hire him) and I. Ultimately we combined the illustrations of Les Miz’s original author Victor Hugo with a wild photoshoot with famed mono named photographer Platon to create this modern rebranding of an old classic.
              </p>
              <br>
              <ul class="is-size-7">
                <li><strong>Collaborators:</strong></li>
                <li><a href="https://www.behance.net/claytonjones" target="_blank">Clayton Jones</a></li>
                <li><a href="http://bashanaquartdesign.com/" target="_blank">Bashan Aquart</a></li>
              </ul>
              <br>
              <ul class="is-size-7">
                <li><strong>Additional Files:</strong></li>
                <li><a href="#" target="_blank">High Resolution</a></li>
              </ul>
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/LesMiz6.png)">
          <div class="image-hover">
            <p class="title">Cosette</p>
              <p class="subtitle is-size-6"><strong>Series:</strong> Les Misérables</p>
              <p class="is-size-7">
                This series was a grind by Clayton Jones (he’s fucking good, hire him) and I. Ultimately we combined the illustrations of Les Miz’s original author Victor Hugo with a wild photoshoot with famed mono named photographer Platon to create this modern rebranding of an old classic.
              </p>
              <br>
              <ul class="is-size-7">
                <li><strong>Collaborators:</strong></li>
                <li><a href="https://www.behance.net/claytonjones" target="_blank">Clayton Jones</a></li>
                <li><a href="http://bashanaquartdesign.com/" target="_blank">Bashan Aquart</a></li>
              </ul>
              <br>
              <ul class="is-size-7">
                <li><strong>Additional Files:</strong></li>
                <li><a href="#" target="_blank">High Resolution</a></li>
              </ul>
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="image-wrapper" style="background-image: url(/images/posters/LesMiz7.jpg)">
          <div class="image-hover">
            <p class="title">Valjean</p>
              <p class="subtitle is-size-6"><strong>Series:</strong> Les Misérables</p>
              <p class="is-size-7">
                This series was a grind by Clayton Jones (he’s fucking good, hire him) and I. Ultimately we combined the illustrations of Les Miz’s original author Victor Hugo with a wild photoshoot with famed mono named photographer Platon to create this modern rebranding of an old classic.
              </p>
              <br>
              <ul class="is-size-7">
                <li><strong>Collaborators:</strong></li>
                <li><a href="https://www.behance.net/claytonjones" target="_blank">Clayton Jones</a></li>
                <li><a href="http://bashanaquartdesign.com/" target="_blank">Bashan Aquart</a></li>
              </ul>
              <br>
              <ul class="is-size-7">
                <li><strong>Additional Files:</strong></li>
                <li><a href="#" target="_blank">High Resolution</a></li>
              </ul>
          </div>
        </div>
      </div>

      <div class="column is-one-third">
      <div class="image-wrapper" style="background-image: url(/images/posters/Diner1.png)">
        <div class="image-hover">
          <p class="title">Diner Neon</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Diner</p>
            <p class="is-size-7">
              These two posters were such a treat to make. I received a 2x3 quick sketch from Clayton Jones and was tasked with bringing them to life in 3D. This project will always hold a special place for me as it introduced me to some stellar designers and people.
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Collaborators:</strong></li>
              <li><a href="https://www.behance.net/claytonjones" target="_blank">Clayton Jones</a></li>
              <li><a href="https://www.robschnabel.com/" target="_blank">Rob Schnabel</a></li>
            </ul>
            <br>
            <ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>
        </div>
      </div>
    </div>

    <div class="column is-one-third">
      <div class="image-wrapper" style="background-image: url(/images/posters/Diner2.png)">
        <div class="image-hover">
          <p class="title">Diner Neon</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Diner</p>
            <p class="is-size-7">
              These two posters were such a treat to make. I received a 2x3 quick sketch from Clayton Jones and was tasked with bringing them to life in 3D. This project will always hold a special place for me as it introduced me to some stellar designers and people.
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Collaborators:</strong></li>
              <li><a href="https://www.behance.net/claytonjones" target="_blank">Clayton Jones</a></li>
              <li><a href="https://www.robschnabel.com/" target="_blank">Rob Schnabel</a></li>
            </ul>
            <br>
            <ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>
        </div>
      </div>
    </div>



    <div class="column is-one-third">
      <div class="image-wrapper" style="background-image: url(/images/posters/IOAP1.png)">
        <div class="image-hover">
          <p class="title">Front Of House</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> It&apos;s Only a Play</p>
            <p class="is-size-7">
              Such a cool (and illuminating) experience working with all of these big name acting professionals. We did a big shoot with F. Scott Schafer created some really stellar photography and then I designed and built an entire alphabet of 3D letters. 
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Collaborators:</strong></li>
              <li><a href="http://bashanaquartdesign.com/" target="_blank">Bashan Aquart</a></li>
            </ul>
            <br>
            <ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>
        </div>
      </div>
    </div>

    <div class="column is-one-third">
    <div class="image-wrapper" style="background-image: url(/images/posters/IOAP2.png)">
      <div class="image-hover">
        <p class="title">One Sheet</p>
          <p class="subtitle is-size-6"><strong>Series:</strong> It&apos;s Only a Play</p>
          <p class="is-size-7">
            Such a cool (and illuminating) experience working with all of these big name acting professionals. We did a big shoot with F. Scott Schafer created some really stellar photography and then I designed and built an entire alphabet of 3D letters. 
          </p>
          <br>
          <ul class="is-size-7">
            <li><strong>Collaborators:</strong></li>
            <li><a href="http://bashanaquartdesign.com/" target="_blank">Bashan Aquart</a></li>
          </ul>
          <br>
          <ul class="is-size-7">
            <li><strong>Additional Files:</strong></li>
            <li><a href="#" target="_blank">High Resolution</a></li>
          </ul>
      </div>
    </div>
  </div>

      <div class="column is-one-third">
      <div class="image-wrapper" style="background-image: url(/images/posters/IOAP3.png)">
        <div class="image-hover">
          <p class="title">Key Art</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> It&apos;s Only a Play</p>
            <p class="is-size-7">
              Such a cool (and illuminating) experience working with all of these big name acting professionals. We did a big shoot with F. Scott Schafer created some really stellar photography and then I designed and built an entire alphabet of 3D letters. 
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Collaborators:</strong></li>
              <li><a href="http://bashanaquartdesign.com/" target="_blank">Bashan Aquart</a></li>
            </ul>
            <br>
            <ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>
        </div>
      </div>
    </div>

     <div class="column is-one-third">
      <div class="image-wrapper" style="background-image: url(/images/posters/HtG1.png)">
        <div class="image-hover">
          <p class="title">Hand To God</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Hand To God</p>
            <p class="is-size-7">
              What a ridiculous show and great creative direction. Working Rosana Iarusso we created something like 30 ads all lampooning other big shows all from the perspective of a cheeky sock puppet possessed by the devil.
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Collaborators:</strong></li>
              <li><a href="https://rosana-iarusso.squarespace.com/" target="_blank">Rosana Iarusso</a></li>
              <li><a href="http://bashanaquartdesign.com/" target="_blank">Bashan Aquart</a></li>
            </ul>
            <br>
            <ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>
        </div>
      </div>
    </div>

    <div class="column is-one-third">
      <div class="image-wrapper" style="background-image: url(/images/posters/HtG2.png)">
        <div class="image-hover">
          <p class="title">Hand To God</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Hand To God</p>
            <p class="is-size-7">
              What a ridiculous show and great creative direction. Working Rosana Iarusso we created something like 30 ads all lampooning other big shows all from the perspective of a cheeky sock puppet possessed by the devil.
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Collaborators:</strong></li>
              <li><a href="https://rosana-iarusso.squarespace.com/" target="_blank">Rosana Iarusso</a></li>
              <li><a href="http://bashanaquartdesign.com/" target="_blank">Bashan Aquart</a></li>
            </ul>
            <br>
            <ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>
        </div>
      </div>
    </div>

    <div class="column is-one-third">
      <div class="image-wrapper" style="background-image: url(/images/posters/HtG3.png)">
        <div class="image-hover">
          <p class="title">Hand To God</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Hand To God</p>
            <p class="is-size-7">
              What a ridiculous show and great creative direction. Working Rosana Iarusso we created something like 30 ads all lampooning other big shows all from the perspective of a cheeky sock puppet possessed by the devil.
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Collaborators:</strong></li>
              <li><a href="https://rosana-iarusso.squarespace.com/" target="_blank">Rosana Iarusso</a></li>
              <li><a href="http://bashanaquartdesign.com/" target="_blank">Bashan Aquart</a></li>
            </ul>
            <br>
            <ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>
        </div>
      </div>
    </div>

    <div class="column is-one-third">
      <div class="image-wrapper" style="background-image: url(/images/posters/NewGroup.png)">
        <div class="image-hover">
          <p class="title">Brand Refresh Poster</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> The New Group</p>
            <p class="is-size-7">
              The New Group is a small off off broadway theatre in NYC. Our challenge was a striking rebranding that including a style guide for how to produce artwork for their shows. We landed on high-contrast black in white imagery juxtapozed with a vibrant red type and logo locks.
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Collaborators:</strong></li>
              <li><a href="http://bashanaquartdesign.com/" target="_blank">Bashan Aquart</a></li>
            </ul>
            <br>
            <ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>
        </div>
      </div>
    </div>

    <div class="column is-one-third">
      <div class="image-wrapper" style="background-image: url(/images/posters/SticksBones.png)">
        <div class="image-hover">
          <p class="title">Sticks <br>and Bones</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> The New Group</p>
            <p class="is-size-7">
              This play focused on a soldier facing the challenges of returning to civilian life.
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Collaborators:</strong></li>
              <li><a href="http://bashanaquartdesign.com/" target="_blank">Bashan Aquart</a></li>
            </ul>
            <br>
            <ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>
        </div>
      </div>
    </div>

    <div class="column is-one-third">
      <div class="image-wrapper" style="background-image: url(/images/posters/Rasheeda.png)">
        <div class="image-hover">
          <p class="title">Rasheeda Speaking</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> The New Group</p>
            <p class="is-size-7">
              Fun fact, an alternative option I presented made Diane Weist cry, and not like in a goodway, so thats nice to add to the resume. All of the posters for The New Group were done low budget and were always a blast to work on.
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Collaborators:</strong></li>
              <li><a href="https://rosana-iarusso.squarespace.com/" target="_blank">Rosana Iarusso</a></li>
              <li><a href="http://bashanaquartdesign.com/" target="_blank">Bashan Aquart</a></li>
            </ul>
            <br>
            <ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>
        </div>
      </div>
    </div>

    <div class="column is-one-third">
      <div class="image-wrapper" style="background-image: url(/images/posters/BillyRay1.png)">
        <div class="image-hover">
          <p class="title">Billy and Ray</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Vinyard Theatre</p>
            <p class="is-size-7">
              Rob Schnabel and I had a blast on these. He lead the charge and I facilitated with some typography work/3D renders and modeling.
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Collaborators:</strong></li>
              <li><a href="https://www.robschnabel.com/" target="_blank">Rob Schnabel</a></li>
            </ul>
            <br>
            <ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>
        </div>
      </div>
    </div>

    <div class="column is-one-third">
      <div class="image-wrapper" style="background-image: url(/images/posters/BillyRay2.png)">
        <div class="image-hover">
          <p class="title">Billy and Ray Alt</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Vinyard Theatre</p>
            <p class="is-size-7">
              Rob Schnabel and I had a blast on these. He lead the charge and I facilitated with some typography work/3D renders and modeling (thats my body and with an old mans head on the right).
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Collaborators:</strong></li>
              <li><a href="https://www.robschnabel.com/" target="_blank">Rob Schnabel</a></li>
            </ul>
            <br>
            <ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>
        </div>
      </div>
    </div>

    <div class="column is-one-third">
      <div class="image-wrapper" style="background-image: url(/images/posters/Once.png)">
        <div class="image-hover">
          <p class="title">Once</p>
            <p class="subtitle is-size-6"><strong>Series:</strong> Once</p>
            <p class="is-size-7">
              Not a lot to say on this one. Wild experience, lots of retouching.
            </p>
            <br>
            <ul class="is-size-7">
              <li><strong>Collaborators:</strong></li>
              <li><a href="https://www.robschnabel.com/" target="_blank">Rob Schnabel</a></li>
              <li><a href="http://bashanaquartdesign.com/" target="_blank">Bashan Aquart</a></li>
            </ul>
            <br>
            <ul class="is-size-7">
              <li><strong>Additional Files:</strong></li>
              <li><a href="#" target="_blank">High Resolution</a></li>
            </ul>
        </div>
      </div>
    </div>

    
    



      

    </div>

  </div>
</section>
