---
title: Progressive Motorcycle
---

<section class="section has-text-centered">
  <div class="container">
    <p class="has-text-weight-bold is-size-1 is-size-3-mobile is-uppercase">Progressive MOTO</p>
    <p class="projectdescription is-size-5">
     Progressive is the title sponsor of Motorcycle rallies across the country, but in an audience that can smell bullshit like it smells rubber meeting the road, Progressive needed to show up authentically or not at all. 

Bringing in tattoo artist Oliver Munden, known for his unique illustrative style, we revamped their look and created activations that prioritized fun and elevating passions. The new approach didn't just make Progressive fit in—it made them genuinely embraced by the motorcycle community.
    </p>
    <br>
    <p class="has-text-weight-bold is-size-4">Collaborators:</p>
    <p class="collabnames is-family-secondary has-text-weight-bold is-size-4 is-italic ">Gary Baker // Jimmy Tanner // Oliver Munden <br> Sebastien Theroux // Julia Colasantini </p>
  </div>
</section>

<section class="parallax" style="background-image: url(/images/projects/Progressive/ProgHeader.jpg)">
</section>

<section class="section">
  <div class="container">

    <div class="columns is-multiline">

      <div class="column is-full">
        <% image "/images/projects/Progressive/MotoBike.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/Progressive/ProgBody.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/Progressive/HeadLight.jpg" %>
      </div>
      
      <div class="column is-full">
        <% image "/images/projects/Progressive/SquadGoals.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/Progressive/Racers.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/Progressive/Sprayer.jpg" %>
      </div>

      <div class="column is-one-third">
        <% image "/images/projects/Progressive/GearBox.jpg" %>
      </div> 

      <div class="column is-one-third">
        <% image "/images/projects/Progressive/SnakeGirl.jpg" %>
      </div> 

      <div class="column is-one-third">
        <% image "/images/projects/Progressive/Ralley.jpg" %>
      </div> 

      <div class="column is-half">
        <% image "/images/projects/Progressive/Split.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/Progressive/DirtBike.jpg" %>
      </div>

      <div class="column is-full">
        <% image "/images/projects/Progressive/BarnDoors.jpg" %>
      </div>

      <div class="column is-half">  
        <% image "/images/projects/Progressive/ProgFloShirt.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/Progressive/ProgBearShirt.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/Progressive/ProgCatShirt.jpg" %>
      </div>
      
      <div class="column is-half">
        <% image "/images/projects/Progressive/ProgEagleShirt.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/Progressive/Pins.jpg" %>
      </div>
      
      <div class="column is-half">
        <% image "/images/projects/Progressive/Kerchief2.jpg" %>
      </div>

      <div class="column is-full">
        <% image "/images/projects/Progressive/JumpSuit.jpg" %>
      </div>      

      <div class="column is-one-third">
        <% image "/images/projects/Progressive/Helmet6.jpg" %>
      </div> 

      <div class="column is-one-third">
        <% image "/images/projects/Progressive/Helmet1.jpg" %>
      </div> 

      <div class="column is-one-third">
        <% image "/images/projects/Progressive/Helmet2.jpg" %>
      </div> 

            <div class="column is-one-third">
        <% image "/images/projects/Progressive/Helmet3.jpg" %>
      </div> 

      <div class="column is-one-third">
        <% image "/images/projects/Progressive/Helmet4.jpg" %>
      </div> 

      <div class="column is-one-third">
        <% image "/images/projects/Progressive/Helmet5.jpg" %>
      </div> 

      <div class="column is-half">
        <% image "/images/projects/Progressive/FloBones.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/Progressive/FloBones2.jpg" %>
      </div>

      <div class="column is-full">
        <% image "/images/projects/Progressive/GiddyUp.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/Progressive/Panther.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/Progressive/Bear2.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/Progressive/Number1.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/Progressive/Cash.jpg" %>
      </div>

      <div class="column is-full">
        <% image "/images/projects/Progressive/Eagle.jpg" %>
      </div>

    </div>

  </div>
</section>
