---
title: Progressive Boat
---

<section class="section has-text-centered">
  <div class="container">
    <p class="has-text-weight-bold is-size-1 is-size-3-mobile is-uppercase">Progressive Boat</p>
    <p class="projectdescription is-size-5">
    blah blah
    <p class="has-text-weight-bold is-size-4">Collaborators:</p>
    <p class="collabnames is-family-secondary has-text-weight-bold is-size-4 is-italic">Gary Baker // Jimmy Tanner // Sebastien Theroux <br> Julia Colasantini // Sal Delaquilla</p>
  </div>
</section>

<section class="parallax" style="background-image: url(/images/projects/Boat/Shanty5.jpg)">
</section>

<section class="section">
  <div class="container">

    <div class="columns is-multiline">
      
      <div class="column is-full">
        <div class="iframe-container">
          <iframe width="1280" height="720" src="https://www.youtube.com/embed/18NqJxjweEU" title="Captain And His Mate" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
      </div>

      <div class="column is-one-third">
        <% image "/images/projects/Boat/Shanty2.jpg" %>
      </div>

      <div class="column is-two-thirds">
        <% image "/images/projects/Boat/Shanty1.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/Boat/Shanty3.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/Boat/Shanty4.jpg" %>
      </div>

      <div class="column is-full">
        <% image "/images/projects/Boat/BoatHeader2.jpg" %>
      </div>      

      <div class="column is-two-thirds">
        <% image "/images/projects/Boat/Totems.jpg" %>
      </div>

      <div class="column is-one-third">
        <% image "/images/projects/Boat/Flags.jpg" %>
      </div>

      <div class="column is-full">
        <% image "/images/projects/Boat/BoatBa.jpg" %>
      </div>

       <div class="column is-full">
        <% image "/images/projects/Boat/sIGN.jpg" %>
      </div>

      <div class="column is-one-third">
        <% image "/images/projects/Boat/BoatKid.jpg" %>
      </div>


      <div class="column is-two-thirds">
        <% image "/images/projects/Boat/Claw.jpg" %>
      </div>



      <div class="column is-full">
        <% image "/images/projects/Boat/Render.jpg" %>
      </div>

            <div class="column is-half">
        <% image "/images/projects/Boat/Shirt.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/Boat/Card.jpg" %>
      </div>


            <div class="column is-half">
        <% image "/images/projects/Boat/Lolli.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/Boat/Socks.jpg" %>
      </div>

<div class="column is-one-third">
        <% image "/images/projects/Boat/BoatBoat.jpg" %>
      </div>

      <div class="column is-one-third">
        <% image "/images/projects/Boat/BoatFLo.jpg" %>
      </div>

      <div class="column is-one-third">
        <% image "/images/projects/Boat/BoatLight.jpg" %>
      </div>

            <div class="column is-full">
        <% image "/images/projects/Boat/Icons.jpg" %>
      </div>


<!--
      <div class="column is-one-third" >
        <div class="iframe-container-alt" >
          <figure class="image is-9by16">
            <iframe width="465" height="auto" src="https://www.youtube.com/embed/K5P_xUrxBvI" title="PG1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </figure>
        </div>
      </div>

      <div class="column is-one-third"  >
        <div class="iframe-container-alt">
          <figure class="image is-9by16">
            <iframe width="465" height="auto" src="https://www.youtube.com/embed/EopdkclWZ18" title="PG2" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </figure>
        </div>
      </div>
      
      <div class="column is-one-third"  >
        <div class="iframe-container-alt">
          <figure class="image is-9by16">
            <iframe width="465" height="auto" src="https://www.youtube.com/embed/DcLTXNX0ceg" title="PG3" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </figure>
        </div>
      </div>

-->





    </div>

  </div>
</section>
