---
title: Advertising
---


<section class="section">
  <div class="container">

    <div class="columns is-multiline has-text-centered">

      <div class="column is-one-third">
        <a class="image-wrapper" style="background-image: url(/images/projects/america.png)">
          <div class="image-hover">
            <p class="title is-2 is-uppercase">America</p>
          </div>
        </a>
      </div>

      <div class="column is-two-thirds">
        <a class="image-wrapper" style="background-image: url(/images/projects/xbox-76ers.png)">
          <div class="image-hover">
            <p class="title is-1 is-uppercase">Xbox + 76ers</p>
          </div>
        </a>
      </div>

      <div class="column is-two-thirds">
        <a class="image-wrapper" style="background-image: url(/images/projects/sample-wide.png)">
          <div class="image-hover">
            <p class="title is-1 is-uppercase">Sample</p>
          </div>
        </a>
      </div>

      <div class="column is-one-third">
        <a class="image-wrapper" style="background-image: url(/images/projects/sample.png)">
          <div class="image-hover">
            <p class="title is-2 is-uppercase">Sample</p>
          </div>
        </a>
      </div>

      <div class="column is-one-third">
        <a class="image-wrapper" style="background-image: url(/images/projects/sample.png)">
          <div class="image-hover">
            <p class="title is-2 is-uppercase">Sample</p>
          </div>
        </a>
      </div>

      <div class="column is-two-thirds">
        <a class="image-wrapper" style="background-image: url(/images/projects/sample-wide.png)">
          <div class="image-hover">
            <p class="title is-1 is-uppercase">Sample</p>
          </div>
        </a>
      </div>

    </div>

  </div>
</section>
