---
title: Red Bull
---

<section class="section has-text-centered">
  <div class="container">
    <p class="has-text-weight-bold is-size-1 is-size-3-mobile is-uppercase">Red Bull</p>
    <p class="projectdescription is-size-5">
    In our debut year teaming up with Red Bull Formula 1, we brought the action directly to the fans. We delivered elevated experiences at three major Grand Prix events, revealed four slick new car liveries, and even took a Formula 1 car on a tour through the Chicago subway system bringing eyes to unexpected urban locations.  The result? A nation hooked on the thrilling combo of Red Bull and high-speed sports, making it a year to remember for Red Bull and racing fans everywhere.
    <p class="has-text-weight-bold is-size-4">Collaborators:</p>
    <p class="collabnames is-family-secondary has-text-weight-bold is-size-4 is-italic">Jason Fisher // Nick Billings // Keirstin Fernandes<br>Sebastien Theroux // Dan Marino</p>
  </div>
</section>

<section class="parallax" style="background-image: url(/images/projects/RedBull/RedBullHeader.jpg)">
</section>

<section class="section">
  <div class="container">

    <div class="columns is-multiline">



            <div class="column is-full">
        <% image "/images/projects/RedBull/Structure.jpg" %>
      </div>


            <div class="column is-two-thirds">
        <% image "/images/projects/RedBull/PlatformCar.jpg" %>
      </div>

      <div class="column is-one-third">
        <% image "/images/projects/RedBull/CrackCan.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/RedBull/SkyDive.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/RedBull/DemBoys.jpg" %>
      </div>


      <div class="column is-full">
        <% image "/images/projects/RedBull/ShowCar.jpg" %>
      </div>

            <div class="column is-half">
        <% image "/images/projects/RedBull/RacingSim.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/RedBull/ThisGuy.jpg" %>
      </div>

      <div class="column is-full">
        <% image "/images/projects/RedBull/Interior1.jpg" %>
      </div>

      <div class="column is-full">
        <% image "/images/projects/RedBull/Track.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/RedBull/Sign.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/RedBull/ShirtFront.jpg" %>
      </div>

      <div class="column is-one-third">
        <% image "/images/projects/RedBull/Social2.jpg" %>
      </div>

      <div class="column is-one-third">
        <% image "/images/projects/RedBull/Social3.jpg" %>
      </div>

      <div class="column is-one-third">
        <% image "/images/projects/RedBull/Social1.jpg" %>
      </div>

       <div class="column is-full">
        <% image "/images/projects/RedBull/WristBands.jpg" %>
      </div>

      <div class="column is-full">
        <% image "/images/projects/RedBull/ShowRun1.jpg" %>
      </div>
      
      <div class="column is-half">
        <% image "/images/projects/RedBull/ShowRun3.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/RedBull/ShowRun2.jpg" %>
      </div>

            <div class="column is-full">
        <% image "/images/projects/RedBull/Render1.jpg" %>
      </div>

            <div class="column is-full">
        <% image "/images/projects/RedBull/Render2.jpg" %>
      </div>

      <div class="column is-full">
        <% image "/images/projects/RedBull/VegasSide.jpg" %>
      </div>

            <div class="column is-two-thirds">
        <% image "/images/projects/RedBull/VegasExterior.jpg" %>
      </div>

            <div class="column is-one-third">
        <% image "/images/projects/RedBull/VegasDj.jpg" %>
      </div>

            <div class="column is-half">
        <% image "/images/projects/RedBull/VegasInterior.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/RedBull/VegasCrowd.jpg" %>
      </div>

            <div class="column is-full">
        <% image "/images/projects/RedBull/VegasCar.jpg" %>
      </div>

                  <div class="column is-one-third">
        <% image "/images/projects/RedBull/rbgif1.gif" %>
      </div>
      
      <div class="column is-one-third">
        <% image "/images/projects/RedBull/rbgif2.gif" %>
      </div>

      <div class="column is-one-third">
        <% image "/images/projects/RedBull/rbgif3.gif" %>
      </div>

      <div class="column is-full">
        <% image "/images/projects/RedBull/rbgif4.gif" %>
      </div>

      <div class="column is-full">
        <% image "/images/projects/RedBull/rbgif5.gif" %>
      </div>

      <!--
      
      <div class="column is-one-third">
        <% image "/images/projects/RedBull/Social4.jpg" %>
      </div>

      
      <div class="column is-one-third">
        <% image "/images/projects/RedBull/Social5.jpg" %>
      </div>

      <div class="column is-one-third">
        <% image "/images/projects/RedBull/Social6.jpg" %>
      </div>

      -->

      <div class="column is-full">
        <% image "/images/projects/RedBull/VegasTrack.jpg" %>
      </div>
      
      

    <!--
      <div class="column is-full">
        <% image "/images/projects/RedBull/WatchParty.jpg" %>
      </div>
    -->




    </div>

  </div>
</section>
