---
title: Super Bowl 50
---

<section class="section has-text-centered">
  <div class="container">
    <p class="has-text-weight-bold is-size-1 is-size-3-mobile is-uppercase">Super Bowl 50</p>
    <p class="projectdescription is-size-5">
      Super Bowl 50 was undoubtedly the biggest event in sports history. While other brands looked back on the past 50 years, we celebrated the Super Bowl’s biggest moment yet with #Minute50, a campaign designed to reward Verizon customers with mind-blowing access—from meeting NFL stars to unique experiences to Super Bowl tickets—every 50th minute, every hour, every single day in the weeks leading up to the Big Game.
    </p>
    <br>
    <p class="has-text-weight-bold is-size-4">Collaborators:</p>
    <p class="collabnames is-family-secondary has-text-weight-bold is-size-3 is-italic">Mike Costa + Greg Weber + Joe Kantowitz + Many More</p>
  </div>
</section>

<section class="parallax" style="background-image: url(/images/projects/SuperBowl/SB_Exterior3.jpg)">
</section>

<section class="section">
  <div class="container">

    <div class="columns is-multiline">
      <div class="column is-full">
        <div class="iframe-container">
          <iframe width="100%" height="auto" src="https://player.vimeo.com/video/169909122" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>

      <div class="column is-full">
        <% image "/images/projects/SuperBowl/SB_Exterior1.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/SuperBowl/SB_Exterior2.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/SuperBowl/SB_Exterior3.jpg" %>
      </div>

      <div class="column is-full">
        <div class="iframe-container">
          <iframe width="100%" height="auto" src="https://player.vimeo.com/video/169908979" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>

      <!–– Minute 50 ––>

      <div class="column is-full">
        <% image "/images/projects/SuperBowl/MFBreaker.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/SuperBowl/MF1.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/SuperBowl/MF2.jpg" %>
      </div>

        <div class="column is-full">
          <% image "/images/projects/SuperBowl/MF4.jpg" %>
      </div>

       <div class="column is-half">
         <% image "/images/projects/SuperBowl/MF3.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/SuperBowl/MF5.jpg" %>
      </div>

      <div class="column is-full">
          <% image "/images/projects/SuperBowl/MF7.jpg" %>
      </div>

      <!–– Game Winner ––>

      <div class="column is-full">
        <% image "/images/projects/SuperBowl/GWBreaker.jpg" %>
      </div>

      <div class="column is-full">
        <% image "/images/projects/SuperBowl/GW1.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/SuperBowl/GW2.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/SuperBowl/GW4.jpg" %>
      </div>

      <div class="column is-full">
        <% image "/images/projects/SuperBowl/GW5.jpg" %>
      </div>

      <div class="column is-full">
        <% image "/images/projects/SuperBowl/GW7.jpg" %>
      </div>

      <!–– go90 ––>

      <div class="column is-full">
        <% image "/images/projects/SuperBowl/GNBreaker.jpg" %>
      </div>

      <div class="column is-full">
        <% image "/images/projects/SuperBowl/GN1.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/SuperBowl/GN2.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/SuperBowl/GN3.jpg" %>
      </div>

      <div class="column is-full">
        <% image "/images/projects/SuperBowl/GN5.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/SuperBowl/GN4.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/SuperBowl/GN7.jpg" %>
      </div>

      <div class="column is-full">
        <% image "/images/projects/SuperBowl/GN8.jpg" %>
      </div>

  </div>
</section>

