---
title: Taco Bell
---

<section class="section has-text-centered">
  <div class="container">
    <p class="has-text-weight-bold is-size-1 is-size-3-mobile is-uppercase">Taco Bell + Cheez-It</p>
    <p class="projectdescription is-size-5">
      Taco Bell's Cheez-it Crunchwrap Supreme launch party didn't just break the mold – it smashed it to pieces. We rounded up a cadre of top influencers for an exclusive first taste, turning the event into a digital playground. A colossal Crunchwrap entry tunnel ushered attendees into a night where culinary indulgence met cutting-edge tech. Cat robots glided through the crowd, delivering bites of the new Crunchwrap. Guests lined up to step into a hologram machine, becoming larger-than-life Crunchwraps themselves. A DJ spun beats that vibrated through the neon-lit venue, where custom purple and orange cocktails flowed and fueled the revelry. The result? Taco Bell didn’t just launch a product; they unleashed an experience that marryied flavor with futurism and creating an unforgettable night of taste and tech.<br>
    <p class="has-text-weight-bold is-size-4">Collaborators:</p>
    <p class="collabnames is-family-secondary has-text-weight-bold is-size-4 is-italic"> Alexander Turk // Keirstin Fernandes // Matt Pamer <br> Nath Mallon // Anthony Baxter</p>
  </div>
</section>

<section class="parallax" style="background-image: url(/images/projects/TB/test4.jpg)">
</section>

<section class="section">
  <div class="container">

    <div class="columns is-multiline">

      <div class="column is-full">
        <% image "/images/projects/TB/Tunnel2.jpg" %>
      </div>
      
      <div class="column is-two-thirds">
        <% image "/images/projects/TB/food3.jpg" %>
      </div>

      <div class="column is-one-third">
        <% image "/images/projects/TB/food4.jpg" %>
      </div>

      <div class="column is-one-third">
        <% image "/images/projects/TB/Team.jpg" %>
      </div>     

      <div class="column is-two-thirds">
        <% image "/images/projects/TB/CatBot.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/TB/Food1.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/TB/Food2.jpg" %>
      </div>

      <div class="column is-one-third">
        <% image "/images/projects/TB/food8.jpg" %>
      </div>

      <div class="column is-one-third">
        <% image "/images/projects/TB/food6.jpg" %>
      </div>

      <div class="column is-one-third">
        <% image "/images/projects/TB/food7.jpg" %>
      </div>  

      <div class="column is-full">
        <% image "/images/projects/TB/WidePose.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/TB/Pose1.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/TB/Pose2.jpg" %>
      </div>

      <div class="column is-one-third">
        <% image "/images/projects/TB/test1.jpg" %>
      </div>

      <div class="column is-one-third">
        <% image "/images/projects/TB/test2.jpg" %>
      </div>

      <div class="column is-one-third">
        <% image "/images/projects/TB/test3.jpg" %>
      </div>  

      <div class="column is-half">
        <% image "/images/projects/TB/Clothing1.jpg" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/TB/Clothing2.jpg"%>
      </div>

      
      <div class="column is-full">
        <% image "/images/projects/TB/Keynote2.jpg" %>
      </div>

      <div class="column is-full">
        <% image "/images/projects/TB/TBDVD.webp" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/TB/TBInception.webp" %>
      </div>

      <div class="column is-half">
        <% image "/images/projects/TB/TBInside.webp"%>
      </div>






    </div>

  </div>
</section>
